useDynLib(gtools)

export(
       addLast,
       ask,
       assert,
       binsearch,
       capture,
       combinations,
       ddirichlet,
       defmacro,
       even,
       foldchange,
       foldchange2logratio,
       inv.logit,
       invalid,
       logit,
       logratio2foldchange,
       mixedorder,
       mixedsort,
       odd,
       permutations,
       permute,
       quantcut,
       rdirichlet,
       running,
       scat,
       setTCPNoDelay,
       smartbind,
       sprint,
       strmacro
       )

