.i3GEOtemaComSel {
	border-bottom: 1px solid cyan;
}

.i3GEOfechaGuia {
	cursor: pointer;
	left: 0px;
	top: 0px;
	width: 95%;
	text-align: right;
	font-size: 14pt;
	margin-bottom: 10px;
}
/*
botoes do catalogo
*/
#arvoreCatOpcoes button, #arvoreCatOpcoes .yui-button, #arvoreCatOpcoes .yuimenu {
	width: 250px;
	color: black;
	border-radius : 0px;
}
#arvoreCatOpcoes a {
	color: black;
}
#arvoreCatOpcoes .yui-button {
	background-image : none;
	border-radius : 0px;
}
#arvoreCatOpcoes .first-child{
	border-radius : 0px;
}
/*
botoes da legenda
*/
#legendaOpcoes button, #legendaOpcoes .yui-button, #legendaOpcoes .yuimenu {
	width: 250px;
	color: black;
	border-radius : 0px;
}
#legendaOpcoes a {
	color: black;
}
#legendaOpcoes .yui-button {
	background-image : none;
	border-radius : 0px;
}
#legendaOpcoes .first-child{
	border-radius : 0px;
}
/*
menu de contexto da arvore de camadas
*/
#i3GEOmenuContextoTema a {
	color: gray;
}

#i3GEOmenuContextoTema .yuimenuitemlabel-selected {
	color: white;
}

.i3GEOcorpoLegi {
	min-height:200px;
}

#corpoLegi {
	overflow: hidden;
}

/*
Botao de ligar desligar do tipo chave da legenda
*/

.i3GEOcorpoLegi .temaSwitch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 14px;
}

.i3GEOcorpoLegi .temaSwitch input {
	display:none;
}

.i3GEOcorpoLegi .temaSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
}

.i3GEOcorpoLegi .temaSlider:before {
 position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-box-shadow: -1px 1px 3px -0px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: -1px 1px 3px -0px rgba(0, 0, 0, 0.46);
  box-shadow: -1px 1px 3px -0px rgba(0, 0, 0, 0.46);
}

.i3GEOcorpoLegi input:checked + .temaSlider {
   background-color: rgb(177, 205, 205);
}

.i3GEOcorpoLegi input:focus + .temaSlider {
  box-shadow: 0 0 1px rgb(224, 235, 235);
}

.i3GEOcorpoLegi input:checked + .temaSlider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.i3GEOcorpoLegi .temaSlider.round {
  border-radius: 34px;
}

.i3GEOcorpoLegi .temaSlider.round:before {
  border-radius: 50%;
}

.legendaTema {
    font-size: 12px;
    text-align: left;
}
.legendaTema label {
    margin-left: 0px;
}
.i3GEOLegendaExcluiTema {
	display: inline;
}
/*
Botao de ligar desligar do tipo chave da arvore de camadas
*/
.i3GEOarvCam .temaSwitch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 14px;
}

.i3GEOarvCam .temaSwitch input {
	display:none;
}

.i3GEOarvCam .temaSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
}

.i3GEOarvCam .temaSlider:before {
 position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-box-shadow: -1px 1px 3px -0px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: -1px 1px 3px -0px rgba(0, 0, 0, 0.46);
  box-shadow: -1px 1px 3px -0px rgba(0, 0, 0, 0.46);
}

.i3GEOarvCam input:checked + .temaSlider {
  background-color: rgb(177, 205, 205);
}

.i3GEOarvCam input:focus + .temaSlider {
  box-shadow: 0 0 1px rgb(224, 235, 235);
}

.i3GEOarvCam input:checked + .temaSlider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.i3GEOarvCam .temaSlider.round {
  border-radius: 34px;
}

.i3GEOarvCam .temaSlider.round:before {
  border-radius: 50%;
}

/**/
#i3GEOcopyright {
	position: absolute;
	left: 10px;
	top: 5px;
	display: block;
}
#buscaRapidaGuia {
	margin: 5px;
}
#buscaRapidaGuia p {
	font-size: 1.2em;
    line-height: 1.2;
    margin-top: 1em;
}
/*
para o campo escala e coordenadas
*/
.fundoRodape .digitar {
    background-color: none !IMPORTANT;
    opacity: 0.7 !IMPORTANT;
    box-shadow: none !IMPORTANT;
}

.fundoRodape .digitar:hover {
    background-color: #222222 !IMPORTANT;
    opacity: 0.7 !IMPORTANT;
}

.fundoRodape .digitarOver {
    background-color: #222222 !IMPORTANT;
    opacity: 0.7 !IMPORTANT;
}
/* menu */
#contemMenu {
	background: black;
	height: 35px;
	text-align: right;
	border-width: 0pt 0pt 1px;
	border-color: rgb(240, 240, 240);
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 5;
}
#menus {
	height: 35px;
}
/*
Barra de botoes de edicao vetorial do openlayers
*/

/*
no caso do OL3
*/
.ol-overlaycontainer-stopevent .olControlEditingToolbar1  {
	left: auto;
	position: absolute;
	right: 0;
	top: 10px;
}

.ol-zoom {
	top: 2.8em;
}

.ol-i3GEOcontrols {
	top: 2.8em;
	left: 3em;
	width: auto;
}

.ol-touch .ol-zoomslider, .ol-zoomslider {
	top: 8.2em;
}

.ol-scale-line {
	bottom: 2em;
}

.olControlEditingToolbar1 div {
	background-image: url(../mashups/openlayers.png);
	background-repeat: no-repeat;
	float: right;
	right: 50px;
	height: 29px;
	margin: 2px;
	width: 29px;
	cursor: pointer;
	top: 30px;
}
/*
Estilo geral do rodape da pagina que contem a barra de escala, coordenadas, etc
*/
.fundoRodape {
		border: 0 solid #DFDFDF;
		border-collapse: collapse;
		font-family: Verdana,Arial,Helvetica,sans-serif;
		font-size: 12px;
		margin: 0;
		padding: 0;
		position: relative;
		text-align: center;
}
.fundoRodape .ticfind {
	background-image: url("../imagens/botao-tiny-zoomparacoordenadas.png");
}
.fundoRodape .ticfind:hover {
	background-image: url("../imagens/botao-tiny-zoomparacoordenadas-hover.png");
}
/*
Configuracoes especificas dos elementos que ficam no rodape
*/
#seletorIdiomas {
	float: right;
}

#escala {
	width: 100px;
	left: 7px;
	text-align: left;
	position: absolute;
	bottom: 0px;
	display: block;
}
#escala td {
	float: left;
}
#escala span {
	border: 0px solid white;
}
#escala input {
	background: rgba(0, 60, 136, 0.5);
	color: white;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 1em;
	margin: 0;
	border: 0px solid white;
	box-shadow: none;
	text-align: center;
	height: 1.8em;
}
#i3GEOcompartilhar {
	border: 0px solid white;
	z-index: 20000;
}
#i3GEOcompartilhar td {
	background: rgba(0, 60, 136, 0.5);
}
.i3GeoMascaraCoord {
	width: 100%;
}
.i3GeoMascaraCoord td {
	background: rgba(0, 60, 136, 0.5);
	color: white;
}
.i3GeoMascaraCoord input {
	background: rgba(0, 60, 136, 0.5);
	color: white;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 1em;
	margin: 0;
	border: 0px solid white;
	box-shadow: none;
}
.i3GeoMascaraCoord span {
	border: 0px solid white;
}
.contemCaixaTipoCoord {
	overflow: hidden;
	width: 4em;
	background-color: rgba(0, 60, 136, 0.5);
}
.i3GeoMascaraCoord select {
	border: 0px solid #B4B4B4;
	left: 0px;
	width: 4em;
	background-color: rgba(0, 60, 136, 0.5);
	box-shadow: none !important;
	opacity: 0.8 !important;
	color: white;
	height: auto;
}
.i3GeoMascaraCoord tr {
	border: 0px solid white;
}
.localizarxy {
	z-index : 50;
	color: white;
	position: absolute;
	bottom: 0px;
	width: 450px;
	left: auto;
	right: 0px;
	text-align: left;
	font-size: 1em;
	display: inline;
	height: 1.8em;
}
.localizarxy input, .localizarxy select {
	font-size: 1em;
	height: 1.8em;
}
/*
Imagens de fundo da barra de botoes
Ao definir background, o default e redefinido
*/
#euDock_euImage_2 {
		background: black;
		opacity: 1;
		max-height: 28px;
}
#euDock_euImage_3 {
		background: black;
		opacity: 1;
		max-height: 28px;
}
#euDock_euImage_4 {
		background: black;
		opacity: 1;
		max-height: 28px;
}
#euDock_euImage_2 {
	max-height: 28px;
	border: 1px solid black;
	border-radius: 35px 0 0 5px;
	opacity: 1;
	background: black;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='black', endColorstr='black',GradientType=0 );
}

#euDock_euImage_3 {
	max-height: 28px;
	border: 1px solid black;
	opacity: 1;
	background: black;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='black', endColorstr='black',GradientType=0 );
}

#euDock_euImage_4 {
	max-height: 28px;
	border: 1px solid black;
	border-radius: 0px 35 5 0px;
	opacity: 1;
	background: black;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='black', endColorstr='black',GradientType=0 );
}
#euDock_0 {
	margin-top: 5px;
}

/*
Menu superior de opcoes
*/
/* cor da barra */
#menus .bd{
	background: black;
}
/* item de menu quando o mouse passa */
.yui-skin-sam .yuimenubaritem-selected {
		background: #707070;
		color: white;
}
/* nomes dos itens do menu */
.yui-skin-sam .yuimenubaritemlabel {
	color:white;
	margin: 8px 0;
	background: black;
	height:14px;
}
/* nomes dos itens do menu quando o mouse passa*/
.yui-skin-sam .yuimenubaritemlabel-selected{
		background: #707070;
		color: white;
}
/* itens dos submenus */
.yui-skin-sam .yuimenuitemlabel{
	color: white;
	padding: 4px 22px;
}
.yui-skin-sam .yuimenuitemlabel a{
	color: white;
}

.yuimenubaritemlabel, .yuimenuitemlabel  {
	font-size: 12px;
}

/* itens dos submenus quando o mouse passa*/
.yui-skin-sam .yuimenuitem-selected {
	background: #707070;
}
/* itens de menu com link e que foram visitados */
.yui-skin-sam .yuimenubaritemlabel:visited {
	color: white;
}
.yui-skin-sam .yuimenuitemlabel:visited {
	color: white;
}
#menuajudaMenu{
	color: white;
}
.comboTemasCabecalho .yuimenuitemlabel{
	color: black;
}
.comboTemasCabecalho .yuimenuitemlabel:visited{
	color: black;
}
/*janelas flutuantes*/
/*arvore de camadas*/
/*botao de opcoes*/
#arvoreCamOpcoes button, #arvoreCamOpcoes .yui-button, #arvoreCamOpcoes .yuimenu {
	width: 250px;
	color: black;
	border-radius : 0px;
}
#arvoreCamOpcoes a {
	color: black;
}
#arvoreCamOpcoes .yui-button {
	background-image : none;
	border-radius : 0px;
}
#arvoreCamOpcoes .first-child{
	border-radius : 0px;
}

.i3GEOarvCam a {
	font-size: 1em;
	text-decoration: solid;
}

.i3GEOarvCam .ygtvcell .ygtvlp, .i3GEOarvCam .ygtvlp {
    background: url("../css/treeview-sprite.gif") no-repeat scroll 0 -8897px transparent;
}
.i3GEOarvCam .ygtvcell .ygtvlph, .i3GEOarvCam .ygtvlph {
    background: url("../css/treeview-sprite.gif") no-repeat scroll 0 -8917px transparent;
}
.i3GEOarvCam .ygtvcell .ygtvlm, .i3GEOarvCam .ygtvlm {
    background: url("../css/treeview-sprite.gif") no-repeat scroll 0 -8937px transparent;
}
.i3GEOarvCam .ygtvcell .ygtvlmh, .i3GEOarvCam .ygtvlmh {
    background: url("../css/treeview-sprite.gif") no-repeat scroll 0 -8957px transparent;
}

.i3GEOarvCam .ygtvcell .ygtvtp, .i3GEOarvCam .ygtvtp {
    background: url("../css/treeview-sprite.gif") no-repeat scroll 0 -8897px transparent;
    height: 22px;
}
.i3GEOarvCam .ygtvcell .ygtvtph, .i3GEOarvCam .ygtvtph {
    background: url("../css/treeview-sprite.gif") no-repeat scroll 0 -8917px transparent;
    height: 22px;
}
.i3GEOarvCam .ygtvcell .ygtvtm, .i3GEOarvCam .ygtvtm {
    background: url("../css/treeview-sprite.gif") no-repeat scroll 0 -8937px transparent;
}
.i3GEOarvCam .ygtvcell .ygtvtmh, .i3GEOarvCam .ygtvtmh {
    background: url("../css/treeview-sprite.gif") no-repeat scroll 0 -8957px transparent;
}
.temaArrastar {
	text-align: left;
}
