/*
Barra de botoes de edicao vetorial do openlayers
*/
.olControlEditingToolbar1 div {
	background-image:url(../mashups/openlayers.png);
	background-repeat:no-repeat;
	float:right;
	right: 0px;
	height:29px;
	margin:2px;
	width:29px;
	cursor:pointer;
}
/*
Estilo geral do rodape da pagina que contem a barra de escala, coordenadas, etc
*/
.fundoRodape {
		border: 0 solid #DFDFDF;
		border-collapse: collapse;
		font-family: Verdana,Arial,Helvetica,sans-serif;
		font-size: 12px;
		margin: 0;
		padding: 0;
		position: relative;
		text-align: center;
		background: black;
}
/*
Configuracoes especificas dos elementos que ficam no rodape
*/
#seletorIdiomas {
	float: right;
}
#escala {
	float: left;
}
#escala td {
	background: black;
	float: left;
}
#escala span {
	border: 0px solid white;
}
#escala input {
	background: black;
	color: white;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10px;
	margin: 0;
	border: 0px solid white;
	box-shadow: none;
	text-align: right;
}
#i3GEOcompartilhar {
	border: 0px solid white;
}
#i3GEOcompartilhar td {
	background: black;
}
.i3GeoMascaraCoord {
	width: 100%;
}
.i3GeoMascaraCoord td {
	background: black;
	color: white;
}
.i3GeoMascaraCoord input {
	background: black;
	color: white;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10px;
	margin: 0;
	border: 0px solid white;
	box-shadow: none;
}
.i3GeoMascaraCoord span {
	border: 0px solid white;
}
.i3GeoMascaraCoord select {
		border: 1px solid #B4B4B4;
		font-size: 10px;
		height: 16px;
		left: 1px;
		position: relative;
		top: 1px;
		width: 40px;
}
.i3GeoMascaraCoord tr {
	border: 0px solid white;
}
/*
Imagens de fundo da barra de botoes
Ao definir background, o default e redefinido
*/
#euDock_euImage_2 {
		background: black;
		opacity: 1;
}
#euDock_euImage_3 {
		background: black;
		opacity: 1;
}
#euDock_euImage_4 {
		background: black;
		opacity: 1;
}
/*
Menu superior de opcoes
*/
/* cor da barra */
#menus .bd{
	background: black;
}
/* item de menu quando o mouse passa */
.yui-skin-sam .yuimenubaritem-selected {
		background: #707070;
		color: white;
}
/* nomes dos itens do menu */
.yui-skin-sam .yuimenubaritemlabel {
	color:white;
	margin: 8px 0;
	background: black;
	height:14px;
}
/* nomes dos itens do menu quando o mouse passa*/
.yui-skin-sam .yuimenubaritemlabel-selected{
		background: #707070;
		color: white;
}
/* itens dos submenus */
.yui-skin-sam .yuimenuitemlabel{
	color: white;
}
.yui-skin-sam .yuimenuitemlabel a{
	color: white;
}
/* itens dos submenus quando o mouse passa*/
.yui-skin-sam .yuimenuitem-selected {
	background: #707070;
}
/* itens de menu com link e que foram visitados */
.yui-skin-sam .yuimenubaritemlabel:visited {
	color: white;
}
.yui-skin-sam .yuimenuitemlabel:visited {
	color: white;
}
#menuajudaMenu{
	color: white;
}
.comboTemasCabecalho .yuimenuitemlabel{
	color: black;
}
.comboTemasCabecalho .yuimenuitemlabel:visited{
	color: black;
}
