#buscafotos,#area,#confluence,#scielo,#wiki,#inseregrafico,#realca,#reinicia,#google,#zoomtot,#pan,#zoomli,#zoomlo,#zoomiauto,#zoomoauto,#identifica,#lentei,#reinicia,#exten,#selecao,#inserexy,#textofid,#mede,#perfil,#cruza,#tamanho,#imprimir,#salva,#carrega,#referencia,#pegaimagens,#v3d
{cursor:pointer;border: 0px solid rgb(50,50,50);border-bottom:1px solid rgb(50,50,50);border-left:1px solid rgb(50,50,50);width:22;height:22;z-index:1000;position:relative;}
#box1
{font-size:0px;cursor:crosshair;opacity:.25;background-color: gray;position: absolute;visibility: hidden;width: 0px;height: 0px;border: 2px solid #ff0000;}
#boxg
{position: absolute;visibility: visible;width: 20px;height: 20px;border: 2px solid red;display:none;}
#obj
{position:absolute;z-index:500;height:0;width: 0}
#lente
{z-index:101;top:10px;position: absolute;}
#boxlente
{display:none;z-index: 200;border: 2px solid #ff0000;top:10px;position:absolute;width: 80px;height: 80px;}
#aguarde
{top:0px;position:absolute;visibility: hidden;}
#mensagem
{background-color:white;position:absolute;visibility:hidden}
.i3geoBotaoAplicar
{display:none;position:absolute;cursor:pointer;z-index:1000;background-color:#F6F6F6;color:#426252;}

#img,#imgL,#imgO,#imgN,#imgS
{border: 0px solid black;cursor:crosshair;top:0px;left:0px;}
#img_d
{border: 0px solid black;cursor:crosshair;}
#carrega
{background-image:URL('../imagens/carrega.gif');}
#salva
{background-image:URL('../imagens/salva.gif');}
#imprimir
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
#tamanho
{background-image:URL('../imagens/amp.gif');}
#cruza
{background-image:URL('../imagens/cruzapt.png');}
#perfil
{background-image:URL('../imagens/perfil.gif');}
#mede
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -25px;
}
#textofid
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -50px;
}
#inserexy
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -75px;
}
#selecao
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -100px;
}
#exten
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -125px;
}
#reinicia
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -150px;
}
#lentei
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -175px;
}
#identifica
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -200px;
}
#zoomoauto
{background-image:URL('../imagens/out.png');}
#zoomiauto
{background-image:URL('../imagens/in.png');}
#zoomtot
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -225px;
}
#pan
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -250px;
}
#google
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -275px;
}
#referencia
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -300px;
}
#pegaimagens
{background-image:URL('../imagens/legend.gif');}
#realca
{background-image:URL('../imagens/realca.gif');}
#zoomlo
{background-image:URL('../imagens/zoomlo.gif');}
#inseregrafico
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -325px;
}
#wiki
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -350px;
}
#scielo
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -375px;
}
#confluence
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -400px;
}
#v3d
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -425px;
}
#area
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -450px;
}
/*icone do geoip*/
#ondeestou
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -475px;
	width:20px;
	height:10px;
}
#menuajuda
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 3px -500px;
	width:52px;
	height:12px;
}
#menuanalise
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 3px -525px;
	width:52px;
	height:12px;
}
#menujanelas
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 3px -550px;
	width:52px;
	height:12px;
}
#menuarquivos
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 3px -575px;
	width:52px;
	height:12px;
}
/*bandeira do brasil*/
#brasil
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -600px;
	width:20px;
	height:10px;
	cursor:pointer;
}
/*bandeira inglaterra*/
#uk
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -625px;
	width:20px;
	height:10px;
	cursor:pointer;
}
#espanhol
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -1400px;
	width:20px;
	height:10px;
	cursor:pointer;
}

/*ícone de aplicar*/
.tic
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -650px;
	width:10px;
	height:9px;
	cursor:pointer;
	border-left: 1px solid gray;
	border-bottom:1px solid gray;
	border-top:1px solid #F8F8F8;
	border-right:1px solid #F8F8F8;
}
.x
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -675px;
	width:9px;
	height:9px;
	cursor:pointer;
}
.sobe
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -700px;
	width:9px;
	height:9px;
	cursor:pointer;
}
.desce
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -725px;
	width:9px;
	height:9px;
	cursor:pointer;
}
.extent
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -750px;
	width:9px;
	height:9px;
	cursor:pointer;
}
.menuarrow
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -775px;
	width:16px;
	height:16px;
	cursor:pointer;
}
.mais
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -800px;
	width:17px;
	height:9px;
	cursor:pointer;
}
.menos
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -825px;
	width:17px;
	height:9px;
	cursor:pointer;
}
.ponto
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -850px;
	width:17px;
	height:9px;
	cursor:pointer;
}
.quadro
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -875px;
	width:13px;
	height:13px;
	cursor:pointer;
}
.quadro1
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -900px;
	width:13px;
	height:13px;
	cursor:pointer;
}
.slider
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -925px;
	width:20px;
	height:9px;
}
#vertMenosZoom
{
	cursor:pointer;
	position:relative;
	top:-1px; 
	width:18px; 
	background:url('../imagens/visual/default/sprite.png');
	background-position: 0px -950px;
	height:18px;
}
#vertMaisZoom
{
	cursor:pointer;
	position:relative;
	top:2px;
	width:18px;
	background:url('../imagens/visual/default/sprite.png');
	background-position: 0px -975px;
	height:18px;
}
#zoomli
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -1000px;
}
.foldermapa1
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -1025px;
	width:17px;
	height:15px;
}
.foldermapa
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -1050px;
	width:17px;
	height:15px;
}
#i3geo_lixeira
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -1075px;
	width:22px;
	height:22px;
}
.upload
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -1100px;
	width:16px;
	height:14px;
	border-left: 1px solid gray;
	border-bottom:1px solid gray;
	border-top:1px solid #F8F8F8;
	border-right:1px solid #F8F8F8;
}
.download
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -1125px;
	width:16px;
	height:14px;
	border-left: 1px solid gray;
	border-bottom:1px solid gray;
	border-top:1px solid #F8F8F8;
	border-right:1px solid #F8F8F8;
}
.conectarwms
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -1150px;
	width:14px;
	height:14px;
	border-left: 1px solid gray;
	border-bottom:1px solid gray;
	border-top:1px solid #F8F8F8;
	border-right:1px solid #F8F8F8;
}
.conectargeorss
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -1175px;
	width:14px;
	height:14px;
	border-left: 1px solid gray;
	border-bottom:1px solid gray;
	border-top:1px solid #F8F8F8;
	border-right:1px solid #F8F8F8;
}
.conectarservidor
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -1200px;
	width:14px;
	height:14px;
	border-left: 1px solid gray;
	border-bottom:1px solid gray;
	border-top:1px solid #F8F8F8;
	border-right:1px solid #F8F8F8;
}
.folder
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -1225px;
	width:17px;
	height:15px;
}
.rosanorte
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -1250px;
	width:14px;
	height:14px;
}
.rosasul
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -1275px;
	width:14px;
	height:14px;
}
.rosaleste
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -1300px;
	width:14px;
	height:14px;
}
.rosaoeste
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -1325px;
	width:14px;
	height:14px;
}
.rosamais
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -1350px;
	width:10px;
	height:20px;
}
.rosamenos
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -1375px;
	width:10px;
	height:20px;
}
#buscafotos
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -1425px;
	cursor:pointer;
}
#desceferramentas
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -1450px;
	cursor:pointer;
	width:22px;
	height:10px;
}
#sobeferramentas
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -1475px;
	cursor:pointer;
	width:22px;
	height:10px;
}
/*marcador de lista das propriedades do mapa*/
.ticPropriedades
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -1500px;
	width:9px;
	height:10px;
	cursor:pointer;
	margin-right:3px;
}
/*marcador de lista das opções do tema*/
.ticOpcoesTemas
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -1500px;
	width:9px;
	height:10px;
	cursor:pointer;
	margin-right:3px;
}
.uploaddbf
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -1525px;
	width:16px;
	height:14px;
	border-left: 1px solid gray;
	border-bottom:1px solid gray;
	border-top:1px solid #F8F8F8;
	border-right:1px solid #F8F8F8;
}
.rosanordeste
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -1550px;
	width:14px;
	height:14px;
}
.rosasudeste
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -1575px;
	width:14px;
	height:14px;
}
.rosanoroeste
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -1600px;
	width:14px;
	height:14px;
}
.rosasudoeste
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -1625px;
	width:14px;
	height:14px;
}
.nuvemtags
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -1650px;
	width:14px;
	height:14px;
	border-left: 1px solid gray;
	border-bottom:1px solid gray;
	border-top:1px solid #F8F8F8;
	border-right:1px solid #F8F8F8;
}
.zoomAnterior
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -1675px;
	width:10px;
	height:11px;
	cursor:pointer;
}
.zoomProximo
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -1700px;
	width:10px;
	height:11px;
	cursor:pointer;
}
#italiano
{
	background-image:URL('../imagens/visual/default/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -1725px;
	width:20px;
	height:10px;
	top:-13px;
	left:25px;
	cursor:pointer;
}
#encolheFerramentas
{background-image:URL('../imagens/encolhe.png');background-repeat: no-repeat;background-position:center;cursor:pointer;}