#confluence,#scielo,#wiki,#inseregrafico,#realca,#reinicia,#google,#zoomtot,#pan,#zoomli,#zoomlo,#zoomiauto,#zoomoauto,#identifica,#lentei,#reinicia,#exten,#selecao,#inserexy,#textofid,#mede,#perfil,#cruza,#tamanho,#imprimir,#salva,#carrega,#referencia,#pegaimagens,#v3d
{cursor:pointer;border: 0px solid rgb(50,50,50);border-bottom:1px solid rgb(50,50,50);border-left:1px solid rgb(50,50,50);width:22;height:22;z-index:1000;position:relative;}
#box1
{font-size:0px;cursor:crosshair;opacity:.25;background-color: gray;position: absolute;visibility: hidden;width: 0px;height: 0px;border: 2px solid #ff0000;}
#boxg
{position: absolute;visibility: visible;width: 20px;height: 20px;border: 2px solid red;display:none;}
#obj
{position:absolute;z-index:500;height:0;width: 0}
#lente
{z-index:101;top:10px;position: absolute;}
#boxlente
{display:none;z-index: 200;border: 2px solid #ff0000;top:10px;position:absolute;width: 80px;height: 80px;}
#aguarde
{top:0px;position:absolute;visibility: hidden;}
#mensagem
{background-color:white;position:absolute;visibility:hidden}
#aplicari#funcoesrapidasi
{display:none;position:absolute;cursor:pointer;z-index:1000;}
#img,#imgL,#imgO,#imgN,#imgS
{border: 0px solid black;cursor:crosshair;top:0px;left:0px;}
#img_d
{border: 0px solid black;cursor:crosshair;}
#carrega
{background-image:URL('../imagens/carrega.gif');}
#salva
{background-image:URL('../imagens/salva.gif');}
#imprimir
{
	background-image:URL('../imagens/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
#tamanho
{background-image:URL('../imagens/amp.gif');}
#cruza
{background-image:URL('../imagens/cruzapt.png');}
#perfil
{background-image:URL('../imagens/perfil.gif');}
#mede
{
	background-image:URL('../imagens/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -25px;
}
#textofid
{
	background-image:URL('../imagens/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -50px;
}
#inserexy
{
	background-image:URL('../imagens/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -75px;
}
#selecao
{
	background-image:URL('../imagens/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -100px;
}
#exten
{
	background-image:URL('../imagens/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -125px;
}
#reinicia
{
	background-image:URL('../imagens/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -150px;
}
#lentei
{
	background-image:URL('../imagens/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -175px;
}
#identifica
{
	background-image:URL('../imagens/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -200px;
}
#zoomoauto
{background-image:URL('../imagens/out.png');}
#zoomiauto
{background-image:URL('../imagens/in.png');}
#zoomlo
{background-image:URL('../imagens/zoomlo.gif');}
#zoomli
{background-image:URL('../imagens/zoomli.png');}
#zoomtot
{
	background-image:URL('../imagens/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -225px;
}
#pan
{
	background-image:URL('../imagens/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -250px;
}
#google
{
	background-image:URL('../imagens/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -275px;
}
#referencia
{
	background-image:URL('../imagens/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -300px;
}
#pegaimagens
{background-image:URL('../imagens/legend.gif');}
#realca
{background-image:URL('../imagens/realca.gif');}
#inseregrafico
{
	background-image:URL('../imagens/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -325px;
}
#wiki
{
	background-image:URL('../imagens/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -350px;
}
#scielo
{
	background-image:URL('../imagens/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -375px;
}
#confluence
{
	background-image:URL('../imagens/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -400px;
}
#v3d
{
	background-image:URL('../imagens/sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -425px;
}
#encolheFerramentas
{background-image:URL('../imagens/encolhe.png');background-repeat: no-repeat;background-position:center;cursor:pointer;}