.yui-skin-sam .yuimenubar {
	background: transparent url(../pacotes/yui290/build/assets/skins/sam/sprite.png) repeat-x scroll 0 0;
	border: 1px solid #808080;
	font-size: 93%;
	line-height: 2;
}

.yui-skin-sam .yuimenubarnav .yuimenubaritemlabel-hassubmenu {
	background: transparent url(../pacotes/yui290/build/menu/assets/skins/sam/menubaritem_submenuindicator.png) no-repeat scroll right center;
}

.yui-skin-sam .yuimenubaritem-selected {
	background: transparent url(../pacotes/yui290/build/assets/skins/sam/sprite.png) repeat-x scroll 0 -1700px;
}

.yui-skin-sam .yuimenubarnav .yuimenubaritemlabel-hassubmenu-disabled {
	background-image: url(../pacotes/yui290/build/menu/assets/skins/sam/menubaritem_submenuindicator_disabled.png);
}

.yuimenubaritem {
	float: right;
	border-left: 1px solid gray;
}

.yui-skin-sam .yuimenubaritemlabel {
	border-color: #808080;
	border-style: solid;
	border-width: 1px 0;
	color: #000000;
	cursor: default;
	margin: -1px 0;
	padding: 0 20px;
	text-decoration: none;
}

.yui-skin-sam .topscrollbar,.yui-skin-sam .bottomscrollbar {
	background: #FFFFFF url(../pacotes/yui290/build/assets/skins/sam/sprite.png) no-repeat scroll 0 0;
	border: 1px solid #808080;
	height: 16px;
}

.yui-skin-sam .yuimenuitem-hassubmenu {
	background-image: url(../pacotes/yui290/build/menu/assets/skins/sam/menuitem_submenuindicator.png);
	background-position: right center;
	background-repeat: no-repeat;
}

.yui-skin-sam .yuimenuitem-checked {
	background-image: url(../pacotes/yui290/build/menu/assets/skins/sam/menuitem_checkbox.png);
	background-position: left center;
	background-repeat: no-repeat;
}

.yui-skin-sam .yuimenuitem-hassubmenu-disabled {
	background-image: url(../pacotes/yui290/build/menu/assets/skins/sam/menuitem_submenuindicator_disabled.png);
}

.yui-skin-sam .yuimenuitem-checked-disabled {
	background-image: url(../pacotes/yui290/build/menu/assets/skins/sam/menuitem_checkbox_disabled.png);
}

.yui-navset {
	background: #d8d8d8 url(../pacotes/yui290/build/assets/skins/sam/sprite.png) repeat-x;
	/* tab background */
	z-index: 1; /* 3000 */
}

.ygtvtn {
	background: transparent url(../pacotes/yui290/build/assets/skins/sam/treeview-sprite.gif) no-repeat scroll 0 -5600px;
	height: 22px;
	width: 18px;
}

.ygtvln {
	background: transparent url(../pacotes/yui290/build/assets/skins/sam/treeview-sprite.gif) no-repeat scroll 0 -1600px;
	height: 22px;
	width: 18px;
}

.ygtvtp {
	background: transparent url(../pacotes/yui290/build/assets/skins/sam/treeview-sprite.gif) no-repeat scroll 0 -6400px;
	cursor: pointer;
	height: 25px;
	width: 18px;
}

.ygtvtph {
	background: transparent url(../pacotes/yui290/build/assets/skins/sam/treeview-sprite.gif) no-repeat scroll 0 -7200px;
	cursor: pointer;
	height: 25px;
	width: 18px;
}

.ygtvlp {
	background: transparent url(../pacotes/yui290/build/assets/skins/sam/treeview-sprite.gif) no-repeat scroll 0 -2400px;
	cursor: pointer;
	height: 22px;
	width: 18px;
}

.ygtvlph {
	background: transparent url(../pacotes/yui290/build/assets/skins/sam/treeview-sprite.gif) no-repeat scroll 0 -3200px;
	cursor: pointer;
	height: 22px;
	width: 18px;
}

.ygtvloading {
	background: transparent url(../pacotes/yui290/build/assets/skins/sam/treeview-loading.gif) no-repeat scroll 0 0;
	height: 22px;
	width: 18px;
}

.ygtvlm {
	background: transparent url(../pacotes/yui290/build/assets/skins/sam/treeview-sprite.gif) no-repeat scroll 0 0;
	cursor: pointer;
	height: 22px;
	width: 18px;
}

.ygtvlmh {
	background: transparent url(../pacotes/yui290/build/assets/skins/sam/treeview-sprite.gif) no-repeat scroll 0 -800px;
	cursor: pointer;
	height: 22px;
	width: 18px;
}

.ygtvdepthcell {
	background: transparent url(../pacotes/yui290/build/assets/skins/sam/treeview-sprite.gif) no-repeat scroll 0 -8000px;
	height: 22px;
	width: 18px;
}

.ygtvtm {
	background: transparent url(../pacotes/yui290/build/assets/skins/sam/treeview-sprite.gif) no-repeat scroll 0 -4000px;
	cursor: pointer;
	height: 22px;
	width: 18px;
}

.ygtvtmh {
	background: transparent url(../pacotes/yui290/build/assets/skins/sam/treeview-sprite.gif) no-repeat scroll 0 -4800px;
	cursor: pointer;
	height: 22px;
	width: 18px;
}

.i3GeoFolder .ygtvtp,
.i3GeoFolder .ygtvtph,
.i3GeoFolder .ygtvtm,
.i3GeoFolder .ygtvtmh,
.i3GeoFolder .ygtvlm,
.i3GeoFolder .ygtvlmh,
.i3GeoFolder .ygtvtm,
.i3GeoFolder .ygtvtmh,
.i3GeoFolder .ygtvlp,
.i3GeoFolder .ygtvlph{
	width: 38px;
	background-image: url(../pacotes/yui290/build/assets/skins/sam/treeview-sprite-folder.gif);
}

.i3GeoFolder .ygtvloading{
	width: 38px;
}

.ygtvhtml {
	text-align: left;
}

.ygtvitem {
	text-align: left;
}

td.ygtvcell {
	border: 0;
	padding: 0;
	padding-right: 3px;
}

.yui-skin-sam .yui-navset .yui-nav a,.yui-skin-sam .yui-navset .yui-navset-top .yui-nav a {
	background: #d8d8d8 url(../pacotes/yui290/build/assets/skins/sam/sprite.png) repeat-x;
	border: solid #a3a3a3;
	border-width: 0 1px;
	color: #000;
	position: relative;
	text-decoration: none;
}

.yui-skin-sam .yui-navset .yui-nav .selected a,.yui-skin-sam .yui-navset .yui-nav .selected a:focus,.yui-skin-sam .yui-navset .yui-nav .selected a:hover {
	background: white url(../pacotes/yui290/build/assets/skins/sam/sprite.png) repeat-x left -1400px;
	color: white;
}

.yui-skin-sam .yui-navset .yui-nav a:hover,.yui-skin-sam .yui-navset .yui-nav a:focus {
	background-color: white;
}

.yui-skin-sam .yui-navset .yui-nav a:hover,.yui-skin-sam .yui-navset .yui-nav a:focus {
	background: #bfdaff url(../pacotes/yui290/build/assets/skins/sam/sprite.png) repeat-x left -1300px; /* selected tab background */
	outline: 0;
}

.yui-skin-sam .yui-button button,.yui-skin-sam .yui-button a {
	color: #000000;
	font-size: 95%;
	line-height: 2;
	min-height: 1em;
	padding: 0 10px;
}
.yui-skin-sam .yui-button {
	border-color: #D3D3D3;
	border-radius: 6px;
	box-shadow: 0px 0px 0px 0px rgb(230,230,230);
}
.yui-skin-sam .yui-button .first-child {
	border-color: #D3D3D3;
	border-radius: 7px;
}

.ygtvcontent {
	font-size: 12px;
	padding: 0 3px 10px 0;
}

.ygtvcell {
	font-size: 12px;
	padding: 0 3px 5px 0;
}

.comboTemasCabecalho .yuimenuitemlabel {
		color: black;
		cursor: default;
		font-size: 10px;
		font-weight: normal;
		padding: 0 0px;
		text-decoration: none;
}

.rodar .first-child button {
	background: url(../imagens/oxygen/16x16/run-build.png) 5% 50% no-repeat;
	width: 250px;
}
.rodar150 .first-child button {
	background: url(../imagens/oxygen/16x16/run-build.png) 5% 50% no-repeat;
	width: 150px;
}

.rodar100 .first-child button {
	background: url(../imagens/oxygen/16x16/run-build.png) 5% 50% no-repeat;
	width: 100px;
}

.enviar .first-child button {
	background: url(../imagens/oxygen/16x16/svn-commit.png) 5% 50% no-repeat;
	width: 250px;
}

.abrir .first-child button {
	background: url(../imagens/oxygen/16x16/task-delegate.png) 5% 50% no-repeat;
	width: 250px;
}

.abrir150 .first-child button {
	background: url(../imagens/oxygen/16x16/task-delegate.png) 5% 50% no-repeat;
	width: 150px;
}

.abrir100 .first-child button {
	background: url(../imagens/oxygen/16x16/task-delegate.png) 5% 50% no-repeat;
	width: 100px;
}
