.yui-skin-sam .yuimenubar {
background:transparent url(../pacotes/yui252/build/assets/skins/sam/sprite.png) repeat-x scroll 0 0;
border:1px solid #808080;
font-size:93%;
line-height:2;
}
.yui-skin-sam .yuimenubarnav .yuimenubaritemlabel-hassubmenu {
background:transparent url(../pacotes/yui252/build/build/menu/assets/skins/sam/menubaritem_submenuindicator.png) no-repeat scroll right center;
}
.yui-skin-sam .yuimenubaritem-selected {
background:transparent url(../pacotes/yui252/build/assets/skins/sam/sprite.png) repeat-x scroll 0 -1700px;
}
.yui-skin-sam .yuimenubarnav .yuimenubaritemlabel-hassubmenu-disabled {
background-image:url(../pacotes/yui252/build/menu/assets/skins/sam/menubaritem_submenuindicator_disabled.png);
}

.yui-skin-sam .yuimenu .topscrollbar, .yui-skin-sam .yuimenu .bottomscrollbar {
background:#FFFFFF url(../pacotes/yui252/build/assets/skins/sam/sprite.png) no-repeat scroll 0 0;
border:1px solid #808080;
height:16px;
}

.yui-skin-sam .yuimenuitem-hassubmenu {
background-image:url(../pacotes/yui252/build/menu/assets/skins/sam/menuitem_submenuindicator.png);
background-position:right center;
background-repeat:no-repeat;
}

.yui-skin-sam .yuimenuitem-checked {
background-image:url(../pacotes/yui252/build/menu/assets/skins/sam/menuitem_checkbox.png);
background-position:left center;
background-repeat:no-repeat;
}

.yui-skin-sam .yuimenuitem-hassubmenu-disabled {
background-image:url(../pacotes/yui252/build/menu/assets/skins/sam/menuitem_submenuindicator_disabled.png);
}

.yui-skin-sam .yuimenuitem-checked-disabled {
background-image:url(../pacotes/yui252/build/menu/assets/skins/sam/menuitem_checkbox_disabled.png);
}

.yui-skin-sam .yui-panel .hd {
background:transparent url(../pacotes/yui252/build/assets/skins/sam/sprite.png) repeat-x scroll 0 -200px;
color:#000000;
font-size:70%;
font-weight:bold;
line-height:2;
padding:0 10px;
}

.yui-skin-sam .container-close {
background:transparent url(../pacotes/yui252/build/assets/skins/sam/sprite.png) no-repeat scroll 10 -300px;
cursor:pointer;
height:15px;
position:absolute;
right:1px;
top:1px;
width:14px;
z-index:2001;
}

.yui-skin-sam .yui-simple-dialog .bd .yui-icon {
background:transparent url(../pacotes/yui252/build/assets/skins/sam/sprite.png) no-repeat scroll 0 0;
float:left;
height:16px;
margin-right:10px;
width:16px;
}

.yui-skin-sam .yui-navset .yui-nav a,
.yui-skin-sam .yui-navset .yui-navset-top .yui-nav a {
    background:#d8d8d8 url(../pacotes/yui252/build/assets/skins/sam/sprite.png) repeat-x; /* tab background */
    border:solid #a3a3a3;
    border-width:0 1px;
    color:#000;
    position:relative;
    text-decoration:none;
}

.yui-skin-sam .yui-navset .yui-nav .selected a,
.yui-skin-sam .yui-navset .yui-nav .selected a:focus, /* no focus effect for selected */
.yui-skin-sam .yui-navset .yui-nav .selected a:hover { /* no hover effect for selected */
    background:#2647a0 url(../pacotes/yui252/build/assets/skins/sam/sprite.png) repeat-x left -1400px; /* selected tab background */
    color:#fff;
}

.yui-skin-sam .yui-navset .yui-nav a:hover,
.yui-skin-sam .yui-navset .yui-nav a:focus {
    background:#bfdaff url(../pacotes/yui252/build/assets/skins/sam/sprite.png) repeat-x left -1300px; /* selected tab background */
    outline:0;
}