caption
{font-size:8px;color:gray;padding-top:0px;border-top:0px solid #FFFFFF;font-family: Verdana, Arial, Helvetica, sans-serif;z-index:1000;position:relative;}
span
{font-family: Verdana, Arial, Helvetica, sans-serif;}
body
{background-color:black;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 12px;margin: 0px;z-index:1000;position:relative;}
A
{text-align:left;font-size: 10px;font-family: Verdana, Arial, Helvetica, sans-serif;color: #2F4632;}
A:hover 
{color: #4142ff;font-weight: normal;font-family: Verdana, Arial, Helvetica, sans-serif;}
textarea 
{font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 10px; color: #2F4632;background: #ffffff;border-style: solid;border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px}
form 
{border: 0px solid #FFFFFF;cursor:pointer;font-family: Verdana, Arial, Helvetica, sans-serif;}
img
{border: 0px solid #FFFFFF;border-width:0;cursor:pointer}
table 
{text-align:center;border: 0px solid #FFFFFF;padding: 0px;margin:0px;font-family: Verdana, Arial, Helvetica, sans-serif;}
div
{text-align:center;border: 0px solid #FFFFFF;font-family: Verdana, Arial, Helvetica, sans-serif;z-index:1000;position:relative;}
i 
{color:#660000;BACKGROUND-COLOR:#ffffcc;font-family: Verdana, Arial, Helvetica, sans-serif;}
P 
{COLOR: #2F4632;text-align: center;font-size: 10px;font-family: Verdana, Arial, Helvetica, sans-serif;}
H1 
{COLOR: #2F4632;text-align:left;text-decoration: none;font-weight: normal;font-style: normal;font-size: 14px;font-family: Verdana, Arial, Helvetica, sans-serif;color: #004080;}
td 
{background-color:white;border: 0px solid gray;padding: 0px;color:#2F4632;margin:0px;text-align: center;font-size: 12px;font-family: Verdana, Arial, Helvetica, sans-serif;}
input
{font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 10px;color: #2F4632;background-color: #FFFFFF;padding: 0;border: 1px solid gray;text-align: center;cursor: text;}
select
{font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 10px;color: #2F4632;background-color: #FFFFFF;padding: 0;border: 1px solid gray;text-align: left;cursor: pointer;}
#wdocafecha
{COLOR: white;text-align: left;font-size: 10pt;font-family: Verdana, Arial, Helvetica, sans-serif;}
.executar
{cursor:pointer;color:white;text-align:left;background-color:gray;background-image:URL('../imagens/tic.png');background-repeat:no-repeat;border-style:outset;background-position: right;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 10px;}
.inputsb
{font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 10px;color: #2F4632;background-color: #FFFFFF;padding: 0;border: 0px solid gray;text-align: center;cursor: text;}
.legendatemas
{cursor:pointer;text-align:left;background-color:#ffffff;vertical-align: top;border: 0px solid gray;margin:0;padding:0;font-family: Verdana, Arial, Helvetica, sans-serif;}
.legendatemas td
{text-align:left;background-color:#ffffff;vertical-align: top;padding: 0;font-family: Verdana, Arial, Helvetica, sans-serif;z-index:1000;position:relative;}
.legendatemas input
{cursor:pointer;vertical-align: top;font-family: Verdana, Arial, Helvetica, sans-serif;}
.legendadiv 
{left:0px;top:100px;overflow: auto;position: absolute;float: left;visibility:hidden;font-family: Verdana, Arial, Helvetica, sans-serif;}
.button
{visibility:visible;color: #2F4632;background: #ffffff;text-align: center;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 10px;border-style:outset;border-width:3px;cursor:pointer}
.filme
{cursor:pointer;text-align: center;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 8px;color: #000000;background: #ebf8e9;border-style: solid;border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
.direcao
{cursor:pointer;font-size: 0px;text-align: center;color: #ebf8e9;background-color: #d5e9c1;border: 0px solid #d5e9c1;font-family: Verdana, Arial, Helvetica, sans-serif;}
.pcenter10
{COLOR: #2F4632;text-align: center;font-size: 10px;font-family: Verdana, Arial, Helvetica, sans-serif;z-index:1000;}
.tablefilme
{text-align:center;border: 0px solid #FFFFFF;padding: 0px;margin:0px;border-collapse: collapse;background:#ebf8e9;cursor:pointer;font-family: Verdana, Arial, Helvetica, sans-serif;z-index:1000;position:relative;}
.tablefilme td
{background-color:white;border: 0px solid #FFFFFF;padding: 0px;cursor:pointer;border-collapse: collapse;margin:0px;font-family: Verdana, Arial, Helvetica, sans-serif;}
.tdclara
{color:#2F4632;border: 0px solid #DFDFDF;padding: 0px;background-color:#DFDFDF;margin:0px;text-align: center;font-size: 12px;font-family: Verdana, Arial, Helvetica, sans-serif;z-index:1000;position:relative;}
.tdbranca
{border-collapse: collapse;color:#2F4632;border: 0px solid #DFDFDF;padding: 0px;background-color:#FFFFFF;margin:0px;text-align: center;font-size: 12px;font-family: Verdana, Arial, Helvetica, sans-serif;z-index:1000;position:relative;}
.tdtxtleft
{color:#2F4632;border: 0px solid #DFDFDF;padding: 0px;background-color:#FFFFFF;margin:0px;text-align: left;font-size: 12px;font-family: Verdana, Arial, Helvetica, sans-serif;}
.tdtxtjust
{color:#2F4632;border: 0px solid #DFDFDF;padding: 0px;background-color:#FFFFFF;margin:0px;text-align: justify;font-size: 12px;font-family: Verdana, Arial, Helvetica, sans-serif;}
.verdeescuro 
{color:orange;border:0px solid #6699FF;padding:0px;background-color:#667B67;margin:0px;text-align: left;font-size: 8px;font-family: Verdana, Arial, Helvetica, sans-serif;}
.verdeclaro
{padding: 0px;background-color:#d5e9c1;margin:0px;border: 0px solid #d5e9c1;font-family: Verdana, Arial, Helvetica, sans-serif;z-index:1000;}
.verdemedio
{padding: 0px;background-color:#d5e9c1;margin:0px;border: 0px solid #d5e9c1;font-family: Verdana, Arial, Helvetica, sans-serif;z-index:1000;position:relative;}
.aplicar
{visibility:visible;color: #2F4632;background:rgb(240,240,240);text-align: center;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 12px;border-style:outset;border-width:2px;border-color:#cc0000;cursor:pointer;z-index:1000;}
.digitar
{border: 0px solid gray;border-bottom:1px solid gray;font-size: 10px;font-family: Verdana, Arial, Helvetica, sans-serif;}
.legendaTema
{font-size:10px;text-align:left;}
#corpoMapa,#corpoMapaL,#corpoMapaO,#corpoMapaN,#corpoMapaS
{position:absolute;left:0px;top:0px;z-index:0;}
#div_d
{position:absolute;left:0px;top:0px;z-index:0;}
#executa
{visibility:visible;color: #2F4632;background:rgb(240,240,240);text-align: center;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 12px;border-style:outset;border-width:2px;border-color:#cc0000;cursor:pointer;}
#imgh
{z-index:1000;}
#ferramentas1
{display:block;}
#ferramentas2
{display:none;}
#ferramentas3
{display:none;}
#ferramentas
{vertical-align:top;font-family: Verdana, Arial, Helvetica, sans-serif;text-align: center;background-color:white;z-index:1000;position:relative;}
#ferramentas input
{font-size: 10px;color: #2F4632;border-style: solid;border-top-width: 1px;border-right-width: 2px;border-bottom-width: 2px;border-left-width: 1px;cursor:pointer;font-family: Verdana, Arial, Helvetica, sans-serif;z-index:1000;}
#ferramentas table
{padding: 0px;border-spacing:0px;width:100%;font-family: Verdana, Arial, Helvetica, sans-serif;z-index:1000;position:relative;}
#ferramentas table td
{border: 0px solid #ebf8e9;font-size: 12px;background-color:white;font-family: Verdana, Arial, Helvetica, sans-serif;z-index:1000;}
#guia1,#guia2,#guia3,#guia4,#guia5,#guia6,#guia7,#guia8,#guia9
{display:inline;background-color:rgb(230,230,230);position:relative;left:0px;top:0px;border: 0px solid black;font-size: 10px;z-index:1000;}
#listaTemas,#legenda,#legendai,#corpoLegi,#listaPropriedades,
{overflow:auto;background-color:white;text-align:left;}
#ferr1
{background-color:rgb(255,255,255);}
#janelaMenu
{opacity:.80;background-color: #667B67;position: absolute;top: 0px;width: 150px;height: 200px;border: 0px solid #667B67;text-align:center;z-index:0;}
#janelaMenu div
{position: relative;width: 150px;z-index:10;cursor:pointer;background-color:orange;color:white;}
#areaRealce
{opacity:.20;background-color: white;position: absolute;top: 0px;width: 50px;height: 50px;border: 0px solid #667B67;z-index:1000;}
#tip
{border: 0px solid yellow; opacity:.90;}
.clique
{cursor:pointer;color:blue;}
.guias 
{background-color:rgb(245,245,245);cursor:pointer;position:relative;text-align: left;top:8px;left:8px;padding:0px;margin:0px;}
.guia
{display:inline;background-color:rgb(230,230,230);color:rgb(150,150,150);position:relative;left:0px;top:0px;border: 0px solid white;font-size: 12px;z-index:1050;padding:0;margin-right:3px;border-left:1px solid rgb(230,230,230);border-top:1px solid rgb(230,230,230);border-right:1px solid rgb(230,230,230);}
#guia1
{background-color:rgb(255,255,255);color:black;}
.guiaobj
{text-align:left;text-decoration:none;border: 0px solid #ffffff;font-family: Verdana, Arial, Helvetica, sans-serif;position:relative;display:block;font-size:8px;padding:1;font-weight:normal;top:0px;width:95%;}
#mostradistancia
{z-index:2600;color:red;background-color:white;font-family: Verdana, Arial, Helvetica, sans-serif;font-size:10px;}
div.yui-b p {margin:0 0 .5em 0;color:#999;}
div.yui-b p strong {font-weight:bold;color:#000;}
div.yui-b p em {color:#000;}            
h1 {padding:.25em .5em;background-color:#ccc;}
#menus {visibility: visible;margin:0 0 10px 0;}
#vertHandleDiv {cursor:pointer; width:20px; height:18px; position:absolute;left:-1;top:0px }
#vertBGDiv {position:relative;top:0px; width:18px; left:0px;background:url(../imagens/zoombar.png) no-repeat;height:78px; }
#vertMaisZoom {cursor:pointer;position:relative;top:2px; width:18px; background:url(../imagens/zoom-plus-mini.png) no-repeat;height:18px; }
#vertMenosZoom {cursor:pointer;position:relative;top:-1px; width:18px; background:url(../imagens/zoom-minus-mini.png) no-repeat;height:18px; }
#confluence,#scielo,#wiki,#inseregrafico,#realca,#reinicia,#google,#zoomtot,#pan,#zoomli,#zoomlo,#zoomiauto,#zoomoauto,#identifica,#lentei,#reinicia,#exten,#selecao,#inserexy,#textofid,#mede,#perfil,#cruza,#tamanho,#imprimir,#salva,#carrega,#referencia,#pegaimagens,#v3d
{cursor:pointer;border: 0px solid rgb(50,50,50);border-bottom:1px solid rgb(50,50,50);border-left:1px solid rgb(50,50,50);width:22;height:22;z-index:1000;position:relative;}
#box1
{font-size:0px;cursor:crosshair;opacity:.25;background-color: gray;position: absolute;visibility: hidden;width: 0px;height: 0px;border: 2px solid #ff0000;}
#boxg
{position: absolute;visibility: visible;width: 20px;height: 20px;border: 2px solid red;display:none;}
#obj
{position:absolute;z-index:500;height:0;width: 0}
#lente
{z-index:101;top:10px;position: absolute;}
#boxlente
{display:none;z-index: 200;border: 2px solid #ff0000;top:10px;position:absolute;width: 80px;height: 80px;}
#aguarde
{top:0px;position:absolute;visibility: hidden;}
#mensagem
{background-color:white;position:absolute;visibility:hidden}
#aplicari#funcoesrapidasi
{display:none;position:absolute;cursor:pointer;z-index:1000;}
#img,#imgL,#imgO,#imgN,#imgS
{border: 0px solid black;cursor:crosshair;top:0px;left:0px;}
#img_d
{border: 0px solid black;cursor:crosshair;}
#carrega
{background-image:URL('../imagens/carrega.gif');}
#salva
{background-image:URL('../imagens/salva.gif');}
#imprimir
{background-image:URL('../imagens/imprimir.gif');}
#tamanho
{background-image:URL('../imagens/amp.gif');}
#cruza
{background-image:URL('../imagens/cruzapt.png');}
#perfil
{background-image:URL('../imagens/perfil.gif');}
#mede
{background-image:URL('../imagens/mede.gif');}
#textofid
{background-image:URL('../imagens/textofid.gif');}
#inserexy
{background-image:URL('../imagens/inserexy.gif');}
#selecao
{background-image:URL('../imagens/selecao.gif');}
#exten
{background-image:URL('../imagens/exten.png');}
#reinicia
{background-image:URL('../imagens/reinicia.gif');}
#lentei
{background-image:URL('../imagens/lentei.gif');}
#identifica
{background-image:URL('../imagens/identifica.gif');}
#zoomoauto
{background-image:URL('../imagens/afasta.png');}
#zoomiauto
{background-image:URL('../imagens/aproxima.png');}
#zoomlo
{background-image:URL('../imagens/zoomlo.gif');}
#zoomli
{background-image:URL('../imagens/zoomli.png');}
#zoomtot
{background-image:URL('../imagens/icolimites.png');}
#pan
{background-image:URL('../imagens/pan.png');}
#google
{background-image:URL('../imagens/google.gif');}
#referencia
{background-image:URL('../imagens/referencia.png');}
#pegaimagens
{background-image:URL('../imagens/legend.gif');}
#realca
{background-image:URL('../imagens/realca.gif');}
#inseregrafico
{background-image:URL('../imagens/inseregrafico.png');}
#wiki
{background-image:URL('../imagens/wiki.png');}
#scielo
{background-image:URL('../imagens/scielo2.gif');}
#confluence
{background-image:URL('../imagens/confluence.gif');}
#v3d
{background-image:URL('../imagens/3d.png');}
#encolheFerramentas
{background-image:URL('../imagens/encolhe.png');background-repeat: no-repeat;background-position:center;cursor:pointer;}
ul	{text-align:left;list-style-type:none;padding-left: 15px;margin-left:5px; margin-top:15px;}
li	{margin-top:-10px;margin-bottom:15px;}
.toc {margin-left: 15px;}
.details {margin-left: 5px;}
h3	{ margin-top:0px; margin-bottom:0px; font-size:18px; color: #3B6BD2;}
.sample {padding-left: 10px; font-size: 12px; margin-bottom: 25px; padding-bottom: 5px; border-bottom: 5px solid #3B6BD2;}
.description {padding-left: 10px; font-size: 12px; margin-top: 10px; margin-bottom: 25px; padding-bottom: 5px; border-bottom: 1px dotted gray;}
.header {background-color: #5B84EE; padding-top:3px;padding-bottom:3px;padding-left:3px;padding-right:3px; border: 1px solid #C0C0C0; }
.footer {background-color: #E4E4E4;padding-top:3px;padding-bottom:3px;padding-left:10px;padding-right:3px; border: 1px solid #C0C0C0; }
.code	{background-color: #F1F1F1; font-family: Courier New; font-size: 9pt; color: #000080; padding: 5px;}
.function	{width:94%; background-color: #C0C0C0; border: 1px solid #A0A0A0; padding: 5px;font-family: Courier New; font-size: 9pt;}
body	{font-family: verdana;font-size: 8pt;}
td	{font-family: verdana;font-size: 8pt;}
th	{font-family: verdana;font-size: 8pt;}
.ftable	{padding-top:5px;padding-bottom:5px;padding-left:5px;padding-right:5px;}
input { font-size: 11px; }
select { font-size: 11px; }

/* Copyright (c) 2006, Yahoo! Inc. All rights reserved. Code licensed under the BSD License: http://developer.yahoo.net/yui/license.txt version: 0.11.3 */
body {font:13px arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}table {font-size:inherit;font:100%;}select, input, textarea {font:99% arial,helvetica,clean,sans-serif;}pre, code {font:115% monospace;*font-size:100%;}body * {line-height:1.22em;}
/*
Copyright (c) 2006, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
Version 0.11.4
*/
.overlay {position:absolute;display:block;}
.tt {visibility:hidden;position:absolute;color:#333;background-color:#FDFFB4;font-family:arial,helvetica,verdana,sans-serif;padding:2px;border:1px solid #FCC90D;font:100% sans-serif;width:auto;}
* html body.masked select {visibility:hidden;}
* html div.panel-container select {visibility:inherit;}
* html div.drag select {visibility:hidden;}
* html div.hide-select select {visibility:hidden;}
.mask {z-index:2000;display:none;position:absolute;top:0;left:0;-moz-opacity: 0.5;opacity:.50;filter: alpha(opacity=50);background-color:#CCC;}
.hide-scrollbars * {overflow:hidden;}
.hide-scrollbars textarea, .hide-scrollbars select {overflow:hidden;display:none;}
.show-scrollbars textarea, .show-scrollbars select {overflow:visible;}
.panel-container {position:absolute;background-color:transparent;z-index:2000;visibility:hidden;overflow:visible;width:auto;}
.panel-container.matte {padding:3px;background-color:#FFF;}
.panel-container.matte .underlay {display:none;}
.panel-container.shadow {padding:0px;background-color:transparent;}
.panel-container.shadow .underlay {visibility:inherit;position:absolute;background-color:#CCC;top:3px;left:3px;z-index:0;width:100%;height:100%;-moz-opacity: 0.7;opacity:.70;filter:alpha(opacity=70);zoom:1;}
.panel {visibility:hidden;border-collapse:separate;position:relative;left:0px;top:0px;font:1em Arial;background-color:#FFF;border:1px solid #000;z-index:1;overflow:hidden;}
.panel .hd {background-color:#3d77cb;color:#FFF;font-size:100%;line-height:100%;border:1px solid #FFF;border-bottom:1px solid #000;font-weight:bold;overflow:hidden;padding:8px;}
.panel .bd {overflow:hidden;padding:4px;text-align:left;}
.panel .bd p {margin:0 0 1em;}
.panel .close {position:absolute;top:5px;right:4px;z-index:2000;height:12px;width:12px;margin:0px;padding:0px;background-repeat:no-repeat;cursor:pointer;visibility:inherit;}
.panel .close.nonsecure {background-image:url(../imagens/close12_1.gif);}
.panel .close.secure {background-image:url(../imagens/close12_1.gif);}
.panel .ft {padding:4px;overflow:hidden;}
.simple-dialog .bd .icon {background-repeat:no-repeat;width:16px;height:16px;margin-right:10px;float:left;}
.dialog .ft, .simple-dialog .ft {padding-bottom:5px;padding-right:5px;text-align:right;}
.dialog form, .simple-dialog form {margin:0;}
.button-group button {font:100 76% verdana;text-decoration:none;background-color: #E4E4E4;color: #333;cursor: hand;vertical-align: middle;border: 2px solid #797979;border-top-color:#FFF;border-left-color:#FFF;margin:2px;padding:2px;}
.button-group button.default {font-weight:bold;}
.button-group button:hover, .button-group button.hover { border:2px solid #90A029;background-color:#EBF09E;border-top-color:#FFF;border-left-color:#FFF;}
.button-group button:active { border:2px solid #E4E4E4;background-color:#BBB;border-top-color:#333;border-left-color:#333;}
/* Copyright (c) 2006, Yahoo! Inc. All rights reserved. Code licensed under the BSD License:http://developer.yahoo.net/yui/license.txt Version: 0.11.3 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul {list-style:none;}caption,th {text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;}q:before,q:after{content:'';}
/* Copyright (c) 2006, Yahoo! Inc. All rights reserved. Code licensed under the BSD License: http://developer.yahoo.net/yui/license.txt Version: 0.11.3 */
body{text-align:center;}#doc{width:57.69em;*width:56.3em;min-width:750px;margin:auto;text-align:left;}#hd,#bd{margin-bottom:1em;text-align:left;}#ft{font-size:77%;font-family:verdana;clear:both;}.yui-t1 #yui-main .yui-b, .yui-t2 #yui-main .yui-b, .yui-t3 #yui-main .yui-b, .yui-t4 .yui-b, .yui-t5 .yui-b, .yui-t6 .yui-b{float:right;}.yui-t1 .yui-b, .yui-t2 .yui-b, .yui-t3 .yui-b, .yui-t4 #yui-main .yui-b, .yui-t5 #yui-main .yui-b, .yui-t6 #yui-main .yui-b{float:left;}.yui-t1 #yui-main .yui-b{width:76%;min-width:570px;}.yui-t1 .yui-b{width:21.33%;min-width:160px;}.yui-t2 #yui-main .yui-b, .yui-t4 #yui-main .yui-b{width:73.4%;min-width:550px;}.yui-t2 .yui-b, .yui-t4 .yui-b{width:24%;min-width:180px;}.yui-t3 #yui-main .yui-b, .yui-t6 #yui-main .yui-b{width:57.6%;min-width:430px;}.yui-t3 .yui-b, .yui-t6 .yui-b{width:40%;min-width:300px;}.yui-t5 #yui-main .yui-b{width:65.4%;min-width:490px;}.yui-t5 .yui-b{width:32%;min-width:240px;}.yui-g .yui-u, .yui-g .yui-g, .yui-ge .yui-u, .yui-gf .yui-u{float:right;display:inline;}.yui-g .first, .yui-gd .first, .yui-ge .first, .yui-gf .first{float:left;}.yui-g .yui-u, .yui-g .yui-g{width:49.1%;}.yui-g .yui-g .yui-u{width:48.1%;}.yui-gb .yui-u, .yui-gc .yui-u, .yui-gd .yui-u{float:left;margin-left:2%;*margin-left:1.895%;width:32%;}.yui-gb .first, .yui-gc .first, .yui-gd .first{margin-left:0;}.yui-gc .first, .yui-gd .yui-u{width:66%;}.yui-gd .first{width:32%;}.yui-ge .yui-u{width:24%;}.yui-ge .first, .yui-gf .yui-u{width:74.2%;}.yui-gf .first{width:24%;}.yui-ge .first{width:74.2%;}#bd:after, .yui-g:after, .yui-gb:after, .yui-gc:after, .yui-gd:after, .yui-ge:after, .yui-gf:after{content:".";display:block;height:0;clear:both;visibility:hidden;}#bd, .yui-g, .yui-gb, .yui-gc, .yui-gd, .yui-ge, .yui-gf{zoom:1;}
/*
Copyright (c) 2006, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.com/yui/license.txt
Version: 0.11.3
*/
/* Menu styles */
div.yuimenu {z-index:2000;visibility:hidden;background-color:#f6f7ee;border:solid 1px #c4c4be;padding:1px;z-index:3000;}
div.yuimenubar {background-color:#f6f7ee;z-index:3000;}
div.yuimenubar div.bd {zoom:1;z-index:3000;}
div.yuimenubar div.bd:after {content:'.';display:block;clear:both;visibility:hidden;height:0;}
div.yuimenu h6,div.yuimenubar h6 { font-size:100%;font-weight:normal;margin:0;border:solid 1px #c4c4be;color:#b9b9b9;  }
div.yuimenubar h6 {float:left;display:inline;padding:4px 12px;border-width:0 1px 0 0;}
div.yuimenu h6 {float:none;display:block;border-width:1px 0 0 0;padding:5px 10px 0 10px;}
div.yuimenubar ul {list-style-type:none;margin:0;padding:0;}
div.yuimenu ul {list-style-type:none;border:solid 1px #c4c4be;border-width:1px 0 0 0;margin:0;padding:10px 0;}
div.yuimenu ul.first-of-type,div.yuimenu ul.hastitle,div.yuimenu h6.first-of-type {border-width:0;}
div.yuimenu li,div.yuimenubar li {font-size:85%;cursor:pointer;cursor:hand;white-space:nowrap;text-align:left;}
div.yuimenu li.yuimenuitem {padding:2px 24px;}
div.yuimenu li li,div.yuimenubar li li {font-size:100%;}
div.yuimenu li em {font-style:normal;margin:0 0 0 40px;}
div.yuimenu li a em {margin:0;}
div.yuimenu li a,div.yuimenubar li a {  zoom:1;color:#000;text-decoration:none;}
div.yuimenu li.hassubmenu,div.yuimenu li.hashelptext {text-align:right;}
div.yuimenu li.hassubmenu a.hassubmenu,div.yuimenu li.hashelptext a.hashelptext {float:left;display:inline;text-align:left;}
div.yuimenu li.selected,div.yuimenubar li.selected {background-color:#8c8ad0;}
div.yuimenu li.selected a.selected,div.yuimenubar li.selected a.selected {text-decoration:underline;}
div.yuimenu li.selected a.selected,div.yuimenu li.selected em.selected, div.yuimenubar li.selected a.selected {color:#fff;}
div.yuimenu li.disabled, div.yuimenubar li.disabled {cursor:default;}
div.yuimenu li.disabled a.disabled,div.yuimenu li.disabled em.disabled,div.yuimenubar li.disabled a.disabled {color:#b9b9b9;cursor:default;}
div.yuimenubar li.yuimenubaritem {float:right;display:inline;border-width:0 0 0 1px;border-style:solid;border-color:#c4c4be;padding:4px 24px;margin:0;}
div.yuimenubar li.yuimenubaritem.first-of-type {border-width:0;}
div.yuimenubar li.yuimenubaritem img {height:8px;width:8px;margin:0 0 0 10px;vertical-align:middle;}
div.yuimenu li.yuimenuitem img {height:8px;width:8px;margin:0 -16px 0 10px;border:0;*margin-left:0;*border-left-width:10px;*border-style:solid;*border-color:#f6f7ee;}
div.yuimenu li.yuimenuitem.selected img.selected {*border-color:#8c8ad0;}
div.yuimenu li.checked {position:relative;}
div.yuimenu li.checked img.checked {height:8px;width:8px;margin:0;border:0;position:absolute;left:6px;_left:-16px;top:.5em;}
.TreeviewMain
{font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 11px;margin-left: -15px;}
.TreeviewItem
{margin-left: 0px; padding-left: 15px; margin-top: 3px;}
.TreeviewItemTextClicked
{background-color: buttonface; color: black; text-decoration: none; cursor: default; padding: 1px; border: 1px dotted threedshadow;}
.TreeviewItemTextOut
{cursor:pointer;}
.TreeviewItemTextOver
{cursor:pointer;}
