input[type=text], textarea, input[type=number]{
	-webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}

.bd.i3geo6 input[type=text] {
	color: white;
	background: none !IMPORTANT;

	padding: 0;
	border: 1px solid rgb(180, 180, 180);
	text-align: center;
	cursor: text;
	height: 22px;

}

.bd.i3geo6 input[type=text] {
	color: white;
	background: none !IMPORTANT;
	padding: 0;
	border: 1px solid rgb(180, 180, 180);
	text-align: center;
	cursor: text;
	height: 22px;
}

.bd input[type=text] {

}

input[type=number] {
	font-size: 12px;
	color: #2F4632;
	background-color: rgb(250, 250, 250);
	padding: 0;
	border: 1px solid rgb(180, 180, 180);
	text-align: center;
	cursor: text;
	height: 26px;
}

input[type=checkbox] {
	border: 0px solid white;
}

input[type=file] {
	border: 0px solid white;
	background-color: none;
	background: none;
}

select {
	box-shadow: 1px 1px 3px 0 lightgray;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #2F4632;
	background-color: #FFFFFF;
	padding: 0;
	border: 1px solid rgb(230, 230, 230);
	text-align: left;
	cursor: pointer;
}

select option:hover {
	background-color: #CCFFFF;
}

.inputsb {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #2F4632;
	background-color: #FFFFFF;
	padding: 0;
	border: 0px solid gray;
	text-align: center;
	cursor: text;
}

.styled-select input, .styled-select150 input {
	width: 100%;
	height: 22px;
	border: 0;
	box-shadow: none;
	line-height: 1.5;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	font-size: 12px;
	appearance: none;
  background: transparent url("../imagens/gisicons/edit2.png") no-repeat scroll 97% 5px;
  @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
      background: transparent url("../imagens/gisicons/edit2.png") no-repeat scroll 97% 5px;
      background-size: 16px 144px;
    }
}

.styled-select input:focus, .i3geoForm input:focus {
	box-shadow: 0 0 1px blue inset;
	background: white none repeat scroll 0 0;
}

.i3geoForm, .i3geoForm150, .i3geoForm100 {
	width: 252px;
	overflow: hidden;
	background: #F8F8F8;
	border: 0px solid #DDDDDD;
	height: 22px;
	border-radius: 2px;
	text-align:left;
	color: black;
    font-weight: normal;
}

.i3geoForm150 {
	width: 150px;
}

.i3geoForm100 {
	width: 100px;
}

.i3geoForm input, .i3geoForm150 input, .i3geoForm100 input {
	width: 90%;
	height: 22px;
	border: 0;
	box-shadow: none;
	line-height: 1.5;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	font-size: 12px;
	appearance: none;
	cursor: text;
}
.i3geoForm100 input[type=number] {
	width: 85%;
}

.i3geoFormIconeBusca {
  background: transparent url("../imagens/oxygen/16x16/edit-find.png") no-repeat scroll 100% -1px / 16px;
  background-position: right center;
  @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
      background: transparent url("../imagens/gisicons/minuto.png") no-repeat scroll 100% -1px;
      background-size: 16px 144px;
    }
}


.i3geoFormIconeMinuto {
  background: transparent url("../imagens/gisicons/minuto.png") no-repeat scroll 100% -1px / 18px;
  @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
      background: transparent url("../imagens/gisicons/minuto.png") no-repeat scroll 100% -1px;
      background-size: 18px 144px;
    }
}
.i3geoFormIconeMinuto input{
	width: 85%;
}

.i3geoFormIconeSegundo {
  background: transparent url("../imagens/gisicons/segundo.png") no-repeat scroll 100% -1px / 18px;
  @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
      background: transparent url("../imagens/gisicons/segundo.png") no-repeat scroll 100% -1px;
      background-size: 18px 144px;
    }
}
.i3geoFormIconeSegundo input{
	width: 85%;
}

.i3geoFormIconeLongitude {
  background: transparent url("../imagens/gisicons/longitude.png") no-repeat scroll 100% 2px / 18px;
  @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
      background: transparent url("../imagens/gisicons/longitude.png") no-repeat scroll 100% 2px;
      background-size: 18px 144px;
    }
}
.i3geoFormIconeLongitude input{
	width: 70%;
}

.i3geoFormIconeLatitude {
  background: transparent url("../imagens/gisicons/latitude.png") no-repeat scroll 100% 2px / 18px;
  @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
      background: transparent url("../imagens/gisicons/latitude.png") no-repeat scroll 100% 2px;
      background-size: 18px 144px;
    }
}
.i3geoFormIconeLatitude input{
	width: 70%;
}

.i3geoFormIconeDistancia {
  background: transparent url("../imagens/gisicons/length-measure.png") no-repeat scroll 100% 2px / 18px;
  @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
      background: transparent url("../imagens/gisicons/length-measure.png") no-repeat scroll 100% -2px;
      background-size: 16px 144px;
    }
}

.i3geoFormIconeEdita {
  background: transparent url("../imagens/gisicons/edit2.png") no-repeat scroll 100% 5px;
  @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
      background: transparent url("../imagens/gisicons/edit2.png") no-repeat scroll 100% 5px;
      background-size: 16px 144px;
    }
}

.i3geoFormIconeUsuario {
  background: transparent url("../imagens/oxygen/22x22/system-users.png") no-repeat scroll 100% 0px;
  @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
      background: transparent url("../imagens/oxygen/22x22/system-users.png") no-repeat scroll 100% 0px;
      background-size: 16px 144px;
    }
}

.i3geoFormIconeSenha {
  background: transparent url("../imagens/oxygen/22x22/preferences-desktop-user-password.png") no-repeat scroll 100% 0px;
  @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
      background: transparent url("../imagens/oxygen/22x22/preferences-desktop-user-password.png") no-repeat scroll 100% 0px;
      background-size: 16px 144px;
    }
}

.i3geoFormSemIcone {
  background: transparent url("../imagens/branco.gif") no-repeat scroll 100% 5px;
  @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
      background: transparent url("../imagens/branco.gif") no-repeat scroll 100% 5px;
      background-size: 16px 144px;
    }
}

.i3geoFormTag {
  background: transparent url("../imagens/oxygen/16x16/list-remove.png") no-repeat scroll 100% 3px;
  @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
      background: transparent url("../imagens/oxygen/16x16/list-remove.png") no-repeat scroll 100% 3px;
      background-size: 16px 144px;
    }
    border-radius: 8px;
    background-color: #F0F0F0;
    cursor: pointer;
}

.i3geoFormIconeAquarela {
  cursor: pointer;
  background: transparent url("../imagens/aquarela.gif") no-repeat scroll 98% 5px;
  @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
      background: transparent url("../imagens/aquarela.gif") no-repeat scroll 100% 5px;
      background-size: 16px 144px;
    }

}
.i3geoFormIconeAquarela input{
	width: 80%;
}

.i3geoFormIconeGlobo {
  background: transparent url("../imagens/gisicons/projection.png") no-repeat scroll 100% 2px / 18px;
  @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
      background: transparent url("../imagens/gisicons/projection.png") no-repeat scroll 100% 2px;
      background-size: 18px 144px;
    }
}
.i3geoFormIconeGlobo input{
	width: 70%;
}

.i3geoFormIconeNumero {
  background: transparent url("../imagens/oxygen/16x16/number.png") no-repeat scroll 100% 4px / 14px;
  @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
      background: transparent url("../imagens/oxygen/16x16/number.png") no-repeat scroll 100% 4px;
      background-size: 14px 144px;
    }
}

/*hack opera */
@media all and (-webkit-min-device-pixel-ratio:10000) , not all and
	(-webkit-min-device-pixel-ratio:0) {
	.inputsb {
		border: 1px solid black
	}
}
