
<div class="list-group condensed">
    <div class="checkbox text-left">
        <label title="{{{preview}}}">
            <input class="noprint" type="checkbox" value="{{{value}}}" name="{{{name}}}" {{{checked}}} onclick="i3GEO.Interface.openlayers.ativaFundo('{{{value}}}',this);">
            <span class="checkbox-material noprint"> <span class="check"></span></span> {{{title}}}
        </label>
        <input style="background: none; opacity: 0.3;" oninput="i3geoOL.getLayerBase('{{{value}}}').setOpacity(this.value/100)" type="range" min="0" max="100" value="100" class="slider">
    </div>
</div>