<div class="list-group condensed">
    <div class="checkbox text-left">
        <label title="{{{preview}}}">
            <input class="noprint" type="checkbox" value="{{{value}}}" name="{{{name}}}" {{{checked}}} onclick="i3GEO.Interface.openlayers.ativaFundo('{{{value}}}',this);">
            <span class="checkbox-material noprint"> <span class="check"></span></span> {{{title}}}
        </label>
        <!-- ver i3GEO.arvoreDeCamadas noUiSlider -->
        <div id='slideFundo{{{value}}}' style='width:calc(100% - 30px);left: 6px;'></div>
    </div>
</div>