<div class="list-group condensed" style="cursor: move; margin-top: 10px;">
    <div class="checkbox" style="display: inline;">
        <label class="{{{classeCss}}}" style="width: calc(100% - 100px); margin: 0px 0px 6px 50px;">
            <input class="noprint" type="checkbox" value="{{{name}}}" name="{{{name}}}"
                {{{checked}}} onclick="i3GEO.eventos.cliquePerm.ativa();i3geoOL.getLayersGrBy('name','{{{name}}}')[0].setVisibility(this.checked);i3geoOL.getLayersGrBy('name','{{{name}}}')[0].changed()">
            <span class="checkbox-material noprint"><span class="check"></span></span> {{{tema}}}
        </label>
    </div>
    <div data-target="#listaLayersGrBtn" data-toggle="collapse" class="list-group pull-right collapsed" style="margin-bottom: 5px;"></div>
</div>
<div id="listaLayersGrBtn" class="listaLayersGrBtn collapse" style="overflow: none; width: 35rem;">
    <button title="{{{dlinha}}}" onclick="i3GEO.editor.draw.lineString()" class="btn btn-xs" style="margin: 2px; padding: 2px;">
        <img src="{{{locaplic}}}/imagens/gisicons/line-create.png" style="padding: 1px; border: 1px solid rgb(233, 233, 233)" />
    </button>
    <button title="{{{dpol}}}" onclick="i3GEO.editor.draw.polygon()" class="btn btn-xs" style="margin: 2px; padding: 2px;">
        <img src="{{{locaplic}}}/imagens/gisicons/polygon-create.png" style="padding: 1px; border: 1px solid rgb(233, 233, 233)" />
    </button>
    <button title="{{{fillring}}}" onclick="i3GEO.editor.jsts.fillRing()" class="btn btn-xs" style="margin: 2px; padding: 2px;">
        <img src="{{{locaplic}}}/imagens/gisicons/mActionFillRing.png" style="padding: 1px; border: 1px solid rgb(233, 233, 233)" />
    </button>

    <button title="{{{dponto}}}" onclick="i3GEO.editor.draw.point()" class="btn btn-xs" style="margin: 2px; padding: 2px;">
        <img src="{{{locaplic}}}/imagens/gisicons/point-create.png" style="padding: 1px; border: 1px solid rgb(233, 233, 233)" />
    </button>
    <button onclick="i3GEO.editor.draw.circle()" class="btn btn-xs" style="margin: 2px; padding: 2px;">
        <img src="{{{locaplic}}}/imagens/gisicons/circle-create.png" style="padding: 1px; border: 1px solid rgb(233, 233, 233)" />
    </button>
    <button onclick="i3GEO.editor.draw.rectangle()" class="btn btn-xs" style="margin: 2px; padding: 2px;">
        <img src="{{{locaplic}}}/imagens/gisicons/rectangle-create.png" style="padding: 1px; border: 1px solid rgb(233, 233, 233)" />
    </button>
    <button title="{{{dtexto}}}" onclick="i3GEO.editor.draw.text()" class="btn btn-xs" style="margin: 2px; padding: 2px;">
        <img src="{{{locaplic}}}/imagens/gisicons/text-add.png" style="padding: 1px; border: 1px solid rgb(233, 233, 233)" />
    </button>
    <button title="{{{modf}}}" onclick="i3GEO.editor.edit()" class="btn btn-xs" style="margin: 2px; padding: 2px;">
        <img src="{{{locaplic}}}/imagens/gisicons/edit.png" style="padding: 1px; border: 1px solid rgb(233, 233, 233)" />
    </button>
    <button title="{{{d24t}}}" onclick="i3GEO.editor.sel.one()" class="btn btn-xs" style="margin: 2px; padding: 2px;">
        <img src="{{{locaplic}}}/imagens/gisicons/select-one.png" style="padding: 1px; border: 1px solid rgb(233, 233, 233)" />
    </button>
    <button title="{{{ustudo}}}" onclick="i3GEO.editor.sel.un()" class="btn btn-xs" style="margin: 2px; padding: 2px;">
        <img src="{{{locaplic}}}/imagens/gisicons/select-cancel.png" style="padding: 1px; border: 1px solid rgb(233, 233, 233)" />
    </button>
    <button title="{{{studo}}}" onclick="i3GEO.editor.sel.all()" class="btn btn-xs" style="margin: 2px; padding: 2px;">
        <img src="{{{locaplic}}}/imagens/gisicons/selectall.png" style="padding: 1px; border: 1px solid rgb(233, 233, 233)" />
    </button>
    <button title="{{{excsel}}}" onclick="i3GEO.editor.sel.confirmDelete()" class="btn btn-xs" style="margin: 2px; padding: 2px;">
        <img src="{{{locaplic}}}/imagens/gisicons/selected-delete.png" style="padding: 1px; border: 1px solid rgb(233, 233, 233)" />
    </button>
    <button onclick="i3GEO.editor.panSelection()" class="btn btn-xs" style="margin: 2px; padding: 2px;">
        <img src="{{{locaplic}}}/imagens/gisicons/pan-selection.png" style="padding: 1px; border: 1px solid rgb(233, 233, 233)" />
    </button>
    <button title="{{{frente}}}" onclick="i3GEO.editor.orderToFront()" class="btn btn-xs" style="margin: 2px; padding: 2px;">
        <img src="{{{locaplic}}}/imagens/gisicons/order-to-front.png" style="padding: 1px; border: 1px solid rgb(233, 233, 233)" />
    </button>
    <button title="{{{cortaf}}}" onclick="i3GEO.editor.editCut()" class="btn btn-xs" style="margin: 2px; padding: 2px;">
        <img src="{{{locaplic}}}/imagens/gisicons/edit-cut.png" style="padding: 1px; border: 1px solid rgb(233, 233, 233)" />
    </button>
    <button title="{{{union}}}" onclick="i3GEO.editor.jsts.union()" class="btn btn-xs" style="margin: 2px; padding: 2px;">
        <img src="{{{locaplic}}}/imagens/gisicons/mAlgorithmUnion.png" style="padding: 1px; border: 1px solid rgb(233, 233, 233)" />
    </button>
    <button title="{{{intersect}}}" onclick="i3GEO.editor.jsts.intersect()" class="btn btn-xs" style="margin: 2px; padding: 2px;">
        <img src="{{{locaplic}}}/imagens/gisicons/mAlgorithmIntersect.png" style="padding: 1px; border: 1px solid rgb(233, 233, 233)" />
    </button>
    <button title="{{{symdif}}}" onclick="i3GEO.editor.jsts.symdif()" class="btn btn-xs" style="margin: 2px; padding: 2px;">
        <img src="{{{locaplic}}}/imagens/gisicons/mAlgorithmSymmetricalDifference.png" style="padding: 1px; border: 1px solid rgb(233, 233, 233)" />
    </button>
    <button title="{{{dif}}}" onclick="i3GEO.editor.jsts.dif()" class="btn btn-xs" style="margin: 2px; padding: 2px;">
        <img src="{{{locaplic}}}/imagens/gisicons/mAlgorithmDifference.png" style="padding: 1px; border: 1px solid rgb(233, 233, 233)" />
    </button>
    <button title="{{{extent}}}" onclick="i3GEO.editor.jsts.boundary()" class="btn btn-xs" style="margin: 2px; padding: 2px;">
        <img src="{{{locaplic}}}/imagens/gisicons/mAlgorithmExtractLayerExtent.png" style="padding: 1px; border: 1px solid rgb(233, 233, 233)" />
    </button>
    <button title="Convex" onclick="i3GEO.editor.jsts.convexHull()" class="btn btn-xs" style="margin: 2px; padding: 2px;">
        <img src="{{{locaplic}}}/imagens/gisicons/mAlgorithmConvexHull.png" style="padding: 1px; border: 1px solid rgb(233, 233, 233)" />
    </button>
    <button title="{{{masc}}}" onclick="i3GEO.editor.masc()" class="btn btn-xs" style="margin: 2px; padding: 2px;">
        <img src="{{{locaplic}}}/imagens/gisicons/mLayoutItemPicture.png" style="padding: 1px; border: 1px solid rgb(233, 233, 233)" />
    </button>
    <button title="{{{x101}}}" onclick="i3GEO.editor.copy()" class="btn btn-xs" style="margin: 2px; padding: 2px;">
        <img src="{{{locaplic}}}/imagens/gisicons/mActionEditCopy.png" style="padding: 1px; border: 1px solid rgb(233, 233, 233)" />
    </button>
    <button title="{{{cola}}}" onclick="i3GEO.editor.paste()" class="btn btn-xs" style="margin: 2px; padding: 2px;">
        <img src="{{{locaplic}}}/imagens/gisicons/mActionEditPaste.png" style="padding: 1px; border: 1px solid rgb(233, 233, 233)" />
    </button>
    <button title="{{{ativaidentifica}}}" onclick="i3GEO.editor.removeInteracoes();i3GEO.eventos.cliquePerm.ativa();i3GEO.eventos.cliquePerm.ativo = true;" class="btn btn-xs"
        style="margin: 2px; padding: 2px;">
        <img src="{{{locaplic}}}/imagens/gisicons/pointer-info.png" style="padding: 1px; border: 1px solid rgb(233, 233, 233)" />
    </button>
    <button title="{{{listag}}}" onclick="i3GEO.editor.table('.layersGrForm')" class="btn btn-xs" style="margin: 2px; padding: 2px;">
        <img src="{{{locaplic}}}/imagens/gisicons/mActionPropertyItem.png" style="padding: 1px; border: 1px solid rgb(233, 233, 233)" />
    </button>
    <button title="{{{p13}}}" onclick="i3GEO.editor.properties('.layersGrForm')" class="btn btn-xs" style="margin: 2px; padding: 2px;">
        <img src="{{{locaplic}}}/imagens/gisicons/settings.png" style="padding: 1px; border: 1px solid rgb(233, 233, 233)" />
    </button>
    <div class="togglebutton text-left" style="display: inline;">
        <label>
            <input onclick="javascript:i3GEO.editor._snap = this.checked; i3GEO.editor.toggleSnap();" type="checkbox">
            <span class="toggle" style="margin-right: 8px;"></span>snap
        </label>
    </div>
</div>
<div class="layersGrForm container-fluid"></div>
<hr>