<div class="list-group condensed">
    <div class="row-content text-left">
        <a onclick="{{{onclick}}}" role="button" class="btn btn-warning btn-fab btn-fab-max hidden-xs hidden-sm" href="javascript:void(0)">
            <span class="material-icons">folder_open</span>
        </a>
        <label class="nomeTema"> <a onclick="{{{onclick}}}" href="javascript:void(0)">
                <h4>{{{nome}}} <i class="pull-right material-icons">navigate_next</i></h4>

            </a>
            <h6>{{{descricao}}} {{{link}}}</h6>
        </label>
    </div>
</div>
<hr>