<form class="hidden-xs" style="width: 100%;" name="{{id}}" action="#" onsubmit="return false;">
    <div class="typeahead__container">
        <div class="typeahead__field form-group label-fixed condensed" style="font-size: 2rem">
            <span class="typeahead__query">
            <input id="{{id}}" class="form-control input-lg" name="" placeholder="{{placeholder}}" autocomplete="off" type="search">
            <b class='caret careti'></b>
            </span>
        </div>
    </div>
</form>