<html>
<head>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=ISO-8859-1">
<link rel="stylesheet" type="text/css" href="../../pacotes/yui/build/button/assets/button.css">
<link rel="stylesheet" type="text/css" href="../../css/ferramentas.css">
</head>
<body >
<div style="height:98%;overflow:auto;cursor:pointer;position:relative;top:1px;left:0px;text-align:left">
	<table class=lista2 width="90%"> 
		<tr>  
			<td><img src="geral.png" onclick="muda('geral.htm')"/></td>
			<td>Interface padrão com todas as funcionalidades existentes</td>
		</tr>
		<tr>  
			<td><img src="simples1.png" onclick="muda('simples1.htm')"/></td>
			<td>Sem o menu superior e o mapa de referência</td>
		</tr>
		<tr>  
			<td><img src="simples2.png" onclick="muda('simples2.htm')"/></td>
			<td>Sem o menu superior, mapa de referência e a barra de navegação simplificada</td>
		</tr>
		<tr>  
			<td><img src="minima.png" onclick="muda('minima.htm')"/></td>
			<td>Sem o menu superior, mapa de referência e as guias de adição de temas e legenda. A legenda fica incorporada ao mapa</td>
		</tr>
		<tr>  
			<td><img src="openlayers.png" onclick="muda('openlayers.htm')"/></td>
			<td>Utiliza o software 'openLayers' para as funcionalidades de navegação, no estilo googleMaps</td>
		</tr>
	</table>
	<br>
</div>
</body>
<script language="JavaScript" type="text/javascript" src="../funcoes.js"></script>
<script language="JavaScript" type="text/javascript" src="index.js"></script>
</html>