.PageTitle	{font-family: Century Gothic, Arial; font-size: 20px; letter-spacing: 0.0pt; font-weight: bold; color: #31344A}
.TopicHeader	{font-size:14px;margin-top:15px;width:200px;margin-bottom:10px;color:#31344A;font-weight:bold}
.PostHeader	{border-bottom:solid 1px #585C8F;font-size:14px;text-align:left;margin-top:10px;width:350px;margin-bottom:5px;color:#31344A;font-weight:bold}
.PostFooter	{font-size:11px;margin-top:5px;margin-bottom:20px;color:gray;}
.SiteDesc	{color: #31344A;font-weight:bold;}
.menu		{border:1px solid #000;padding:10px;width:160px;margin:12px 15px 10px 0px;background-color:#eee}
.main		{margin:12px 15px 10px 10px; padding:15px; border: 1px solid #000;background-color:white}
Body		{margin-top:10px; margin-left:10px;background-color:#ACB0BF;filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#ACB0BF', EndColorStr='#31344A');font-family:arial,helvetica; font-size: 9pt;}
TD		{font-family:arial,helvetica; font-size: 9pt;}
a		{text-decoration:none; color: #585C8F}
a:hover		{background-color: #ACB0BF; text-decoration: none; color: #000000}