.TreeviewMain
{font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 11px;margin-left: -15px;}
.TreeviewItem
{margin-left: 0px; padding-left: 15px; margin-top: 3px;}
.TreeviewItemTextClicked
{background-color: buttonface; color: black; text-decoration: none; cursor: default; padding: 1px; border: 1px dotted threedshadow;}
.TreeviewItemTextOut
{cursor:pointer;}
.TreeviewItemTextOver
{cursor:pointer;}