## $Id: death.r,v 1.2 2005/03/08 20:19:31 rolf Exp $

#include "death.h"

subroutine DEATH(x,y,marks,npts,ix)
implicit double precision(a-h,o-z)
dimension x(1), y(1)

#ifdef MARKED
dimension marks(1)
#endif

npts = npts-1
if(ix > npts) return
do j = ix,npts {
	x(j) = x(j+1)
	y(j) = y(j+1)
#ifdef MARKED        
	marks(j) = marks(j+1)
#endif        
}

return
end
