.borda {
	background-color:  #4682b4;
	text-align: left;
	width: 100%;
	padding: 5px;
}
.bordaSuperior {
	height: 25px;
	width: 100%;
	text-align: left;
	background-color:  #4682b4;
}
.yui-button#okcancel_checkboxOK button {
	background: url(../../imagens/oxygen/16x16/document-save.png) 5% 50% no-repeat;
	width: 80px;
}
.subbloco{
	background-color: rgb(248,248,248);
	width: 95%;
	padding: 5px;
	margin: 7px;
}
.i3GeoAguardeJanela{
	height: 1px;
	left: 0;
	position: absolute;
	top: 29px;
	width: 100%;
	z-index: 102;
}
.letras{
	font-size: 1em;
}

.paragrafo{
	font-size: 10pt;
}
.yui-navset {
		background: url("../../pacotes/yui290/build/assets/skins/sam/sprite.png") repeat-x scroll 0 0 #D8D8D8;
		z-index: 3000;
}
.ajuda_usuario
{
background-image:url(../../imagens/external.png);
background-position:0px 0px;
background-repeat:no-repeat;
margin-left:0;
text-decoration:none;
cursor:help;
}
P {
	text-align: left;
	font-size: 1.26em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
P  b{
	text-align: left;
	font-size: 0.9em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
legend {
	font-weight: bold;
	cursor: pointer;
	background-color: white;
	color: navy;
	text-align: left;
	font-size: 1.26em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.mensagem {
	color: black;
	text-align: left;
	font-size: 1.26em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

h1 {
	text-align: left;
	font-size: 1.5em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

input {
	cursor: pointer;
}


.lista td {
	border: 1px solid rgb(140, 140, 140);
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	padding: 0px;
	color: #2F4632;
	margin: 0px;
	text-align: left;
	font-size: 1.26em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.lista1 td {
	cursor: pointer;
	text-align: left;
	font-size: 1.26em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.lista1 {
	text-align: left;
}

.aplicar {
	background-image: URL('../imagens/02.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
	width: 20px;
	height: 20px;
}

.salvar {
	background-image: URL('../imagens/save1.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
	width: 20px;
	height: 20px;
}

.excluir {
	background-image: URL('../imagens/01.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
	width: 20px;
	height: 20px;
}

.testar {
	background-image: URL('../imagens/41.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
	width: 20px;
	height: 20px;
}

.mais {
	background-image: URL('../imagens/05.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
	width: 20px;
	height: 20px;
}

.editar {
	background-image: URL('../imagens/06.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
	width: 20px;
	height: 20px;
}

.download {
	background-image: URL('../imagens/download.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
	width: 20px;
	height: 20px;
}

.sobe {
	background-image: URL('../imagens/34.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
}

.desce {
	background-image: URL('../imagens/35.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
}

.mostrar {
	background-image: URL('../imagens/03.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
	width: 20px;
	height: 20px;
}

.ajuda {
	background-image: URL('../imagens/04.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
	width: 20px;
	height: 15px;
}

.textoAjuda {
	color: black;
	text-align: left;
	font-size: 1.26em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.fieldsetRaiz {
	background-color: rgb(252, 210, 186);
	border: 1px solid gray;
}

fieldset {
	text-align: left;
	padding: 10px;
	border: 0px solid gray;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 1px 3px gray;
	background-color: rgb(250, 250, 250);
	margin: 7px;
}

select{
	text-align: left;
	border: 0px solid gray;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 1px 3px gray;
	background-color: rgb(250, 250, 250);
	padding: 2px;
}

.mascaraPrincipal {
	position: relative;
	top: -15px;
	width: 100%;
	max-width:650pt;
	text-align: left;
	background-color: white;
	margin: 0px auto;
	box-shadow: 0px 8px 10px 0px #888;
	padding: 15px
}

.fundoPonto {
	padding-top: 0px;
	COLOR: #2F4632;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: rgb(250, 250, 250);
	margin: auto;
	font-size: 12px;
}

.cabecalhoGeral {
	margin: 0px;
}

.yui-skin-sam .yui-panel .bd {
	text-align: left;
	font-size: 10pt;
}

.bd p {
	 font-size: 1.02em;
	 margin-bottom: 2px;
	 margin-top: 8px;
}

.bd #_listaDeLetras {
	height: 50px;
}
.yui-skin-sam .yui-panel .hd {
	background: none;
	background-color: #F2F2F2;
	color: #000000;
	font-size: 93%;
	font-weight: bold;
	line-height: 2;
	padding: 0 10px;
}

.yui-skin-sam .yui-button button,.yui-skin-sam .yui-button a {
	color: #000000;
	font-size: 95%;
	line-height: 2;
	min-height: 1em;
	padding: 0 10px;
}
.yui-skin-sam .yui-button {
	border-color: #D3D3D3;
	border-radius: 6px;
	box-shadow: 0px 0px 0px 0px rgb(230,230,230);
}
.yui-skin-sam .yui-button .first-child {
	border-color: #D3D3D3;
	border-radius: 7px;
}

.abrir .first-child button {
	background: url(../../imagens/oxygen/16x16/task-delegate.png) 5% 50% no-repeat;
	width: 250px;
}

.abrir200 .first-child button {
	background: url(../../imagens/oxygen/16x16/task-delegate.png) 5% 50% no-repeat;
	width: 200px;
}

.abrir150 .first-child button {
	background: url(../../imagens/oxygen/16x16/task-delegate.png) 5% 50% no-repeat;
	width: 150px;
}

.abrir100 .first-child button {
	background: url(../../imagens/oxygen/16x16/task-delegate.png) 5% 50% no-repeat;
	width: 100px;
}

.rodar .first-child button {
	background: url(../../imagens/oxygen/16x16/run-build.png) 5% 50% no-repeat;
	padding: 0 5px 0 28px;
}
.rodar150 .first-child button {
	background: url(../../imagens/oxygen/16x16/run-build.png) 5% 50% no-repeat;
	width: 150px;
}

.rodar100 .first-child button {
	background: url(../../imagens/oxygen/16x16/run-build.png) 5% 50% no-repeat;
	width: 100px;
}

.rodar0 .first-child button {
	background: url("../../imagens/oxygen/16x16/run-build.png") no-repeat scroll 50% 50% rgba(0, 0, 0, 0);
	width: 20px;
	height: 20px;
}

.adicionar0 .first-child button {
	background: url("../../imagens/oxygen/16x16/list-add.png") no-repeat scroll 50% 50% rgba(0, 0, 0, 0);
	width: 20px;
	height: 20px;
}

.enviar .first-child button {
	background: url(../../imagens/oxygen/16x16/svn-commit.png) 5% 50% no-repeat;
	width: 250px;
}

.iconeEditar {
    -moz-appearance: none;
    background: transparent url("../../imagens/branco.gif") no-repeat scroll 100% 3px;
    border: 0 none;
    box-shadow: none;
    font-size: 12px;
    height: 22px;
    line-height: 1.5;
    padding-right: 12px;
    text-indent: 0.01px;
    text-overflow: "";
}

.styled-select input, .styled-select150 input {
	background: transparent url("../../imagens/branco.gif") no-repeat scroll 100% 3px;
}

.styled-select {
	width: 252px;
	overflow: hidden;
	background: #F8F8F8;
	border: 1px solid #DDDDDD;
	height: 22px;
	border-radius: 2px;
	text-overflow: ellipsis;
}

.styled-select150 {
	width: 150px;
	overflow: hidden;
	background: #F8F8F8;
	border: 1px solid #DDDDDD;
	height: 22px;
	border-radius: 2px;
}

.styled-select select, .styled-select150 select {
	width: 100%;
	height: 22px;
	border: 0;
	box-shadow: none;
	line-height: 1.5;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 12px;
	appearance: none;
  background: transparent url("../../imagens/menuarodwn8_nrm_1.gif") no-repeat scroll 99% 0px;
  @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
      background: transparent url("../../imagens/menuarodwn8_nrm_1.gif") no-repeat scroll 99% 0px;
      background-size: 16px 144px;
    }
}

.i3geoFormSemIcone {
  background: none;
}

.i3geoForm input, .i3geoForm150 input, .i3geoForm100 input {
	width: 100%;
	height: 22px;
	border: 0;
	box-shadow: none;
	line-height: 1.5;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	font-size: 12px;
	appearance: none;
	cursor: text;
}

.lupaBuscar {
	cursor: pointer;
    height: 14px;
    left: 4px;
    position: relative;
    top: 2px;
}