<div class='container-fluid'>
	<h5 class="alert alert-info">
		Veja o exemplo utilizado no tema _lmapageojson.map. Mais informa&ccedil;&otilde;es:
		<a href='{{{linkAjuda}}}' target=_blank>{{{linkAjuda}}}</a>
	</h5>
	<div class='form-group label-fixed condensed'>
		<label class="control-label" for="url">Url do GeoJson</label>
		<input class="form-control input-lg" type='text' name='url' value='{{{url}}}' />
	</div>

	<button onclick='{{{salvaPlugin}}}' class='btn btn-primary btn-sm btn-raised'>{{{salva}}}</button>
	<button onclick='{{{removePlugin}}}' class='btn btn-primary btn-sm btn-raised'>{{{remove}}}</button>
</div>