<div class='container-fluid'>
    <div class='form-group label-fixed condensed'>
        <label class='control-label' for=''>ID onde o formul&aacute;rio ser&aacute; mostrado. Se n&atilde;o existir ou se for vazio o formul&aacute;rio usar&aacute; uma janela flutuante.</label> <input
            class='form-control input-lg' type='text' id='parametrosSqlid' value='{{{id}}}' />
    </div>

    <div class='form-group label-fixed condensed'>
        <label class='control-label' for=''>Largura da janela</label> <input class='form-control input-lg' type='text' id='parametrosSqljanelaw' value='{{{janelaw}}}' />
    </div>

    <div class='form-group label-fixed condensed'>
        <label class='control-label' for=''>Altura da janela</label> <input class='form-control input-lg' type='text' id='parametrosSqljanelah' value='{{{janelah}}}' />
    </div>

    <div class='form-group label-fixed condensed'>
        <label class='control-label' for=''>Dist&acirc;ncia da janela ao topo</label> <input class='form-control input-lg' type='text' id='parametrosSqljanelatop' value='{{{janelatop}}}' />
    </div>

    <div class='form-group label-fixed condensed'>
        <label class='control-label' for=''>Dist&acirc;ncia da janela &agrave; esquerda</label> <input class='form-control input-lg' type='text' id='parametrosSqljanelaleft' value='{{{janelaleft}}}' />
    </div>

    <div class='form-group label-fixed condensed'>
        <label class="control-label" for="parametrosSqlAtivo">Abre o formul&aacute;rio quando a camada &eacute; adicionada ao mapa</label>
        <div class="input-group">
            <select class="form-control" id="parametrosSqlAtivo">
                <option value=''></option>
                <option {{ativoSim}} value=sim>sim</option>
                <option {{ativoNao}} value=nao>nao</option>
            </select>
        </div>
    </div>
    <h4>Par&acirc;metros dos diferentes itens do formulário</h4>
    <table id="parametrosSqlTabela" style="width: 800px; max-width: unset;">
        <tr>
            <td>T&iacute;tulo&nbsp;</td>
            <td>Chave&nbsp;</td>
            <td>Tipo (input ou select)&nbsp;</td>
            <td>Type (text, number, etc)&nbsp;</td>
            <td>Obrigat&oacute;rio (sim ou nao)&nbsp;</td>
            <td>Valores&nbsp;</td>
            <td>Nomes&nbsp;</td>
            <td>PHP que retorna os valores (opcional)</td>
        </tr>
        {{#linhas}}
        <tr>
            <td style="padding-right: 15px;">
                <div class='form-group label-fixed condensed'>
                    <input name='titulo' class="form-control input-lg" type='text' value='{{{titulo}}}' />
                </div>
            </td>
            <td style="padding-right: 15px;">
                <div class='form-group label-fixed condensed'>
                    <input name='chave' class="form-control input-lg" type='text' value='{{{chave}}}' />
                </div>
            </td>
            <td style="padding-right: 15px;">
                <div class='form-group label-fixed condensed'>
                    <input name='tipo' class="form-control input-lg" type='text' value='{{{tipo}}}' />
                </div>
            </td>
            <td style="padding-right: 15px;">
                <div class='form-group label-fixed condensed'>
                    <input name='type' class="form-control input-lg" type='text' value='{{{type}}}' />
                </div>
            </td>
            <td style="padding-right: 15px;">
                <div class='form-group label-fixed condensed'>
                    <input name='required' class="form-control input-lg" type='text' value='{{{required}}}' />
                </div>
            </td>
            <td style="padding-right: 15px;">
                <div class='form-group label-fixed condensed'>
                    <input name='valores' class="form-control input-lg" type='text' value='{{{valores}}}' />
                </div>
            </td>
            <td style="padding-right: 15px;">
                <div class='form-group label-fixed condensed'>
                    <input name='nomes' class="form-control input-lg" type='text' value='{{{nomes}}}' />
                </div>
            </td>
            <td style="padding-right: 15px;">
                <div class='form-group label-fixed condensed'>
                    <input name='prog' class="form-control input-lg" type='text' value='{{{prog}}}' />
                </div>
            </td>
        </tr>
        {{/linhas}}
    </table>
    <button onclick='{{{salvaPlugin}}}' class='btn btn-primary btn-sm btn-raised'>{{{salva}}}</button>
    <button onclick='{{{removePlugin}}}' class='btn btn-primary btn-sm btn-raised'>{{{remove}}}</button>
    <h5 class="alert alert-info">
        As chaves s&atilde;o palavras que devem existir no SQL definido em DATA e/ou no filtro (FILTER). <br> O usu&aacute;rio ir&aacute; fornecer os valores que ser&atilde;o ent&atilde;o
        utilizados para substituir as chaves de forma din&acirc;mica <br> Ser&aacute; mostrado ao usu&aacute;rio um formul&aacute;rio com op&ccedil;&otilde;es. Cada op&ccedil;&atilde;o
        conter&aacute; um t&iacute;tulo e um campo de formul&aacute;rio <br> Cada campo de formul&aacute;rio pode ser dos tipos input (para digitar um valor) ou select (caixa de
        op&ccedil;&otilde;es). <br> Em valores deve ser definida a lista ou o valor default que ser&aacute; mostrado. No caso de listas, utilize v&iacute;rgula para separar os valores. Os valores
        devem sempre ser inteiros. Os nomes tamb&eacute;m devem ser separados por v&iacute;rgulas e deve existir um nome para cada valor.<br> Em ativo, &eacute; indicado com sim ou nao se o formul&aacute;rio ser&aacute; aberto quando a camada for adicionada ao mapa. <br> Como opcional, pode
        ser definido o endere&ccedil;o de um programa PHP que retorna a lista de nomes e valores que ser&atilde;o utilizados para preencher o campo de escolha. Para mais informa&ccedil;&otilde;es,
        veja o mapfile i3geo/temas/_llocaliphp.map. O caminho desse arquivo PHP &eacute; relativo &agrave; pasta i3geo.
    </h5>
</div>